{% extends 'home/base.html' %}
{% load static %}
{% block content %}



    <div id="wrapper">

<!-- Slider -->
        <div id="post_featured_slider" class="slider_wrapper">
            <div class="flexslider" data-height="550">
                <ul class="slides">
                    {% for blog in feat_blogs %}
                    <li>
                        <a href="{% url 'blog:single_blog' blog.id %}">
                            <div class="slider_image" style="background-image:url('{{ blog.image.url }}');">
                                <div class="slide_post">
                                    <div class="slide_post_date post_detail">{{ blog.publish }}</div>
                                    <h2>{{ blog.title }}</h2>
                                </div>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>


<!-- Blog Title -->
        <div id="page_caption" class="   classic">


            <div class="page_title_wrapper left">
                <div class="page_title_inner">
                    <h1>Blog</h1>

                </div>
            </div>

        </div>



        <!-- Begin content -->
        <div id="page_content_wrapper" class="">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="page_content_wrapper"></div>

                    <div id="blog_grid_wrapper" class="sidebar_content">

                        <!-- Begin each blog post -->
                        {% for blog in feat_blogs %}
                        <div id="post-4423" class="post-4423 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-blog tag-city tag-street tag-street-photography-2">
                            <div class="post_wrapper grid_layout">
                                <div class="post_img small static">
                                    <a href="{% url 'blog:single_blog' blog.id %}">
                                        <img src="{{ blog.image.url }}" alt="Awesome Support" class=""
                                            style="width:960px;height:636px;" />
                                    </a>
                                </div>
                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">{{ blog.publish }}</div>
                                        <h6><a href="{% url 'blog:single_blog' blog.id %}" title="Awesome Support">{{ blog.title }}</a></h6>
                                    </div>
                                    <p>{{ blog.description|striptags|truncatechars:100 }}</p>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- End each blog post -->

                    </div>


<!-- Sidebar -->
                    <div class="sidebar_wrapper">
                        <div class="sidebar_top"></div>
                        <div class="sidebar">
                            <div class="content">

                                <ul class="sidebar_widget">

<!-- Social Media Links -->
                                    <li id="grandportfolio_social_profiles_posts-2" class="widget grandportfolio_Social_Profiles_Posts">
                                        <h2 class="widgettitle"><span>Follow Me On</span></h2>
                                        <div class="textwidget">
                                            <div class="social_wrapper shortcode light small">
                                                <ul>
                                                    <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook-official"></i></a></li>
                                                    <li class="twitter"><a target="_blank" title="Twitter" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="flickr"><a target="_blank" title="Flickr" href="http://flickr.com/people/#"><i class="fa fa-flickr"></i></a></li>
                                                    <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/thehautepursuit"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

<!-- Social Media Posts -->
                                    <li id="grandportfolio_popular_posts-2" class="widget grandportfolio_Popular_Posts">
                                        <h2 class="widgettitle"><span>Social Media Posts</span></h2>
                                        <ul class="posts blog withthumb ">
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="{% static 'website/upload/photo-1444658293155-105ae40f8278-1-150x150.jpg' %}" alt="" /></a>
                                                </div><a href="#">Top Quality Design</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1-150x150.jpg' %}" alt="" /></a>
                                                </div><a href="#">Latest WordPress Support</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="{% static 'website/upload/shutterstock_37224571-150x150.jpg' %}" alt="" /></a>
                                                </div><a href="#">Awesome Support</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                        </ul>
                                    </li>

<!-- Contact Us  -->
                                    <li id="categories-3" class="widget widget_categories">
                                        <h2 class="widgettitle"><span>Get in Touch</span></h2>
                                        <ul>
                                            <li class="cat-item cat-item-10"><a href="#">Featured</a>
                                            </li>
                                            <li class="cat-item cat-item-17"><a href="#">Lifestyle</a>
                                            </li>
                                            <li class="cat-item cat-item-9"><a href="#">Photography</a>
                                            </li>
                                            <li class="cat-item cat-item-14"><a href="#">Travel</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>

                </div>
                <!-- End main content -->
                <!-- <br class="clear" />
                <br/>
                <div class="pagination"><span class="current">1</span><a href='http://themes.themegoods.com/grandportfolio/demo4/blog/page/2/' class="inactive">2</a></div>
                <div class="pagination_detail">
                    Page 1 of 2 </div>

            </div>
            <br class="clear" />
            <br/> -->
        </div>


    </div>

    <div id="overlay_background">
    </div>





{% endblock %}