{% extends "home/base.html" %}

{% load static %}
{% block content %}


        <div id="page_caption" class="hasbg parallax  ">
            
            <div id="bg_regular" style="background-image:url('{{ blog.image.url }}');"></div>

        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="hasbg ">
            
            <div class="post_caption">
                <div class="post_info_cat">
                    {{ blog.publish }}
                </div>
                <h1>{{ blog.title }}</h1>
                <hr class="title_break" />
            </div>
            
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="sidebar_content left_sidebar">

                        <!-- Begin each blog post -->
                        <div id="post-1133" class="post-1133 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-blog tag-city tag-fashion tag-model tag-portrait-2 tag-street">

                            <div class="post_wrapper">

                                <div class="post_content_wrapper">

                                    <div class="post_header">

                                        <div class="post_excerpt ">{{ blog.description|safe }}</div>
                                        <div class="post_excerpt animate">
                                            </p>
                                            <blockquote>
                                                <p>Good design is making something intelligible and memorable.
                                                    <br /> Great design is making something memorable and meaningful.</p>
                                            </blockquote>
                                            <p>
                                        </div>
                                        <div class="post_excerpt ">Aliquam et elit eu nunc rhoncus viverra quis at felis et netus et malesuada fames ac turpis egestas. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
                                        <p>&nbsp;</p>
                                        <p><img src="upload/people-coffee-tea-meeting.jpg" alt="people-coffee-tea-meeting" width="1440" height="960" class="alignnone size-full wp-image-5576" /></p>
                                        <p>&nbsp;</p>
                                        <div class="post_excerpt animate">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor.</div>
                                        <p>&nbsp;</p>
                                        <div class="post_excerpt animate">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. Mauris elementum accumsan leo vel tempor.</div>
                                        <p>&nbsp;</p>

                                    </div>

                                    <hr/>
                                    <div class="post_excerpt post_tag">
                                        <i class="fa fa-tags"></i>
                                        <a href="#" rel="tag">blog</a>,&nbsp;<a href="#" rel="tag">city</a>,&nbsp;<a href="#" rel="tag">fashion</a>,&nbsp;<a href="#" rel="tag">model</a>,&nbsp;<a href="#" rel="tag">portrait</a>,&nbsp;<a href="#" rel="tag">street</a>
                                        <br /> </div>

                                    <div id="post_share_text" class="post_share_text"><i class="fa fa-share-alt"></i>Share</div>
                                    <hr/>
                                    <br class="clear" />
                                    <br/>

                                    <div id="about_the_author">
                                        <div class="gravatar"><img alt='' src='upload/avatar.jpeg' class='avatar avatar-200 photo' height='200' width='200' /></div>
                                        <div class="author_detail">
                                            <div class="author_content">
                                                <div class="author_label">Author</div>
                                                <h4>John Philippe</h4> Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. </div>
                                        </div>
                                        <br class="clear" />
                                    </div>

                                    <h6 class="subtitle"><span>You might also like</span></h6>
                                    <hr class="title_break" />
                                    <div class="post_related">
                                        <div class="one_third ">
                                            <!-- Begin each blog post -->
                                            <div id="post-4423" class="post-4423 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-blog tag-city tag-street tag-street-photography-2">

                                                <div class="post_wrapper grid_layout">

                                                    <div class="post_img small static">
                                                        <a href="#">
                                                            <img src="upload/photo-1444072934215-c426fc67ab9c-960x636.jpg" alt="" class="" style="width:960px;height:636px;" />
                                                        </a>
                                                    </div>

                                                    <div class="blog_grid_content">
                                                        <div class="post_header grid related">
                                                            <strong><a href="#" title="Awesome Support">Awesome Support</a></strong>
                                                            <div class="post_info_cat">
                                                                September 1, 2015 </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- End each blog post -->
                                        </div>
                                        <div class="one_third ">
                                            <!-- Begin each blog post -->
                                            <div id="post-4417" class="post-4417 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-photography tag-fashion tag-model tag-portrait-2 tag-street-photography-2">

                                                <div class="post_wrapper grid_layout">

                                                    <div class="post_img small static">
                                                        <a href="#">
                                                            <img src="upload/photo-1445968660880-120e2f7b8c33-960x636.jpg" alt="" class="" style="width:960px;height:636px;" />
                                                        </a>
                                                    </div>

                                                    <div class="blog_grid_content">
                                                        <div class="post_header grid related">
                                                            <strong><a href="#" title="Latest WordPress Support">Latest WordPress Support</a></strong>
                                                            <div class="post_info_cat">
                                                                September 1, 2015 </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- End each blog post -->
                                        </div>
                                        <div class="one_third last">
                                            <!-- Begin each blog post -->
                                            <div id="post-4412" class="post-4412 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-travel tag-blog tag-fashion tag-model tag-street">

                                                <div class="post_wrapper grid_layout">

                                                    <div class="post_img small static">
                                                        <a href="#">
                                                            <img src="upload/team_thumb_three-960x636.jpg" alt="" class="" style="width:960px;height:636px;" />
                                                        </a>
                                                    </div>

                                                    <div class="blog_grid_content">
                                                        <div class="post_header grid related">
                                                            <strong><a href="#" title="Top Quality Design">Top Quality Design</a></strong>
                                                            <div class="post_info_cat">
                                                                September 1, 2015 </div>
                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- End each blog post -->
                                        </div>
                                    </div>
                                    <br class="clear" />

                                </div>

                            </div>
                            <hr/>

                        </div>
                        <!-- End each blog post -->

                        <div class="fullwidth_comment_wrapper sidebar">
                            <h6 class="subtitle"><span>Leave a reply</span></h6>
                            <hr class="title_break" />

                            <div id="comment_respond">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Cancel reply</a></small></h3>
                                    <form action="#" method="post" id="commentform" class="comment-form">
                                        <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                        <p class="comment-form-comment">
                                            <label for="comment">Comment</label>
                                            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
                                        </p>
                                        <p class="comment-form-author">
                                            <label for="author">Name <span class="required">*</span></label>
                                            <input placeholder="Name*" id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' />
                                        </p>
                                        <p class="comment-form-email">
                                            <label for="email">Email <span class="required">*</span></label>
                                            <input type="email" placeholder="Email*" id="email" name="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required='true' required='required' />
                                        </p>
                                        <p class="comment-form-url">
                                            <label for="url">Website</label>
                                            <input placeholder="Website" id="url" name="url" type="url" value="" size="30" maxlength="200" />
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                            <input type='hidden' name='comment_post_ID' value='1133' id='comment_post_ID' />
                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                        </p>
                                    </form>
                                </div>
                                <!-- #respond -->
                            </div>

                        </div>

                    </div>

                    <div class="sidebar_wrapper left_sidebar">

                        <div class="sidebar_top"></div>

                        <div class="sidebar">

                            <div class="content">

                                <ul class="sidebar_widget">

                                    <li id="grandportfolio_social_profiles_posts-3" class="widget grandportfolio_Social_Profiles_Posts">
                                        <h2 class="widgettitle"><span>Follow Me On</span></h2>
                                        <div class="textwidget">
                                            <div class="social_wrapper shortcode light small">
                                                <ul>
                                                    <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook-official"></i></a></li>
                                                    <li class="twitter"><a target="_blank" title="Twitter" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="vimeo"><a target="_blank" title="Vimeo" href="http://vimeo.com/#"><i class="fa fa-vimeo-square"></i></a></li>
                                                    <li class="dribbble"><a target="_blank" title="Dribbble" href="http://dribbble.com/#"><i class="fa fa-dribbble"></i></a></li>
                                                    <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/thehautepursuit"><i class="fa fa-instagram"></i></a></li>
                                                    <li class="behance"><a target="_blank" title="Behance" href="http://behance.net/#"><i class="fa fa-behance-square"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="grandportfolio_popular_posts-3" class="widget grandportfolio_Popular_Posts">
                                        <h2 class="widgettitle"><span>Popular Posts</span></h2>
                                        <ul class="posts blog withthumb ">
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="upload/photo-1446127281790-166e52d1b73c-150x150.jpg" alt="" /></a>
                                                </div><a href="#">Fullscreen options</a>
                                                <div class="post_attribute">June 22, 2011</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="upload/team_thumb_three-150x150.jpg" alt="" /></a>
                                                </div><a href="#">Top Quality Design</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="upload/photo-1445968660880-120e2f7b8c33-150x150.jpg" alt="" /></a>
                                                </div><a href="#">Latest WordPress Support</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="categories-4" class="widget widget_categories">
                                        <h2 class="widgettitle"><span>Categories</span></h2>
                                        <ul>
                                            <li class="cat-item cat-item-2"><a href="#" title="There’s something a little intimidating attempting to describe">Featured</a>
                                            </li>
                                            <li class="cat-item cat-item-3"><a href="#" title="There’s something a little intimidating attempting to describe">Lifestyle</a>
                                            </li>
                                            <li class="cat-item cat-item-4"><a href="#" title="There’s something a little intimidating attempting to describe">Photography</a>
                                            </li>
                                            <li class="cat-item cat-item-5"><a href="#" title="There’s something a little intimidating attempting to describe">Travel</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>

                </div>
                <!-- End main content -->

            </div>

            <br class="clear" />
            <br/>
            <br/>
        </div>


{% endblock %}