{% extends 'base.html' %}

{% block content %}

{% load static %}


<body class="home page-template-default page page-id-4553">




        <div class="ppb_wrapper  ">
            <div class="standard_wrapper">
                <div class="one" style="padding-bottom:0 !important;padding:40px 0 40px 0;">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="image_classic_frame expand animate">
                                <div class="image_wrapper">
                                    <a href="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1.jpg' %}" class="img_frame"><img src="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1.jpg' %}" alt="" class="portfolio_img" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one" style="padding:40px 0 40px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="one_half content_middle animate textright">
                                </p>
                                <blockquote>
                                    <p>The best fashion advice I&#8217;d say would be just to do what makes you comfortable and what makes you feel cute, and that&#8217;s how you&#8217;re gonna look your best &#8217;cause when you feel your best, everybody else can feel it, too.</p>
                                </blockquote>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem </p>
                            </div>
                            <div class="one_half last">
                                <div class="image_classic_frame expand animate">
                                    <div class="image_wrapper"><img src="{% static 'website/upload/shutterstock_66012913-1.jpg' %}" alt="" class="portfolio_img" /></div>
                                </div>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="one" style="padding-top:0 !important;padding:40px 0 40px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="one_half">
                                <div class="image_classic_frame expand animate">
                                    <div class="image_wrapper"><img src="{% static 'website/upload/shutterstock_44843488-1.jpg' %}" alt="" class="portfolio_img" /></div>
                                </div>
                            </div>
                            <div class="one_half last content_middle animate">
                                </p>
                                <blockquote>
                                    <p>I love to design. I am a commercial fashion designer. I always design jackets with two sleeves. I don&#8217;t design jackets with three sleeves, or the layers and layers come off like little dolls from Russia. Fashion for me is a creative endeavor, but it is not art for me.</p>
                                </blockquote>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem </p>
                            </div>
                            <br class="clear" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding ppb_text" style="padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <hr/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding ppb_header " style="text-align:center;padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:60%">
                                <h2 class="ppb_title" style="">New Collections</h2>
                                <hr class="title_break center" style="" />
                                <div class="ppb_header_content">
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding ppb_text" style="padding:0px 0 0px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <div class="video-container">
                                    <iframe src="https://player.vimeo.com/video/226215943?title=0&amp;byline=0&amp;portrait=0" width="1425" height="802" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider one">&nbsp;</div>
        </div>






</body>



{% endblock %}