{% extends 'base.html' %}

{% block content %}

{% load static %}

<body class="home page-template-default page page-id-4553">

        <div id="post_featured_slider" class="slider_wrapper">
            <div class="flexslider" data-height="550">
                <ul class="slides">
                    <li>
                        <a href="#">
                            <div class="slider_image" style="background-image:url({% static 'website/upload/fashion-wallpapers-bx8skqx2-1.jpg' %});">
                                <div class="slide_post">
                                    <div class="slide_post_date post_detail">September 1, 2015</div>
                                    <h2>Latest WordPress Support</h2>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="slider_image" style="background-image:url({% static 'website/upload/beauty-blonde-girl-portrait-fashion-photo-wallpaper-1680x1050-1.jpg' %});">
                                <div class="slide_post">
                                    <div class="slide_post_date post_detail">June 22, 2011</div>
                                    <h2>Multiple galleries</h2>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="slider_image" style="background-image:url({% static 'website/upload/FASHION-WALLPAPER-P-teen-fashion-28084751-1920-1200-1.jpg' %});">
                                <div class="slide_post">
                                    <div class="slide_post_date post_detail">June 22, 2011</div>
                                    <h2>Easy to use gallery</h2>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="">
            <div class="inner">

                <!-- Begin main content -->
                <div class="inner_wrapper">

                    <div class="page_content_wrapper"></div>

                    <div id="blog_grid_wrapper" class="sidebar_content">

                        <!-- Begin each blog post -->
                        <div id="post-4423" class="post-4423 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-blog tag-city tag-street tag-street-photography-2">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="#">
                                        <img src="{% static 'website/upload/shutterstock_37224571-960x636.jpg' %}" alt="Awesome Support" class="" style="width:960px;height:636px;" />
                                    </a>
                                </div>

                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">
                                            September 1, 2015&nbsp;/&nbsp;
                                            <a href="#">Photography</a>
                                        </div>
                                        <h6><a href="#" title="Awesome Support">Awesome Support</a></h6>
                                    </div>

                                    Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.... </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-4417" class="post-4417 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-photography tag-fashion tag-model tag-portrait-2 tag-street-photography-2">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="#">
                                        <img src="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1-960x636.jpg' %}" alt="Latest WordPress Support" class="" style="width:960px;height:636px;" />
                                    </a>
                                </div>

                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">
                                            September 1, 2015&nbsp;/&nbsp;
                                            <a href="#">Featured</a>
                                        </div>
                                        <h6><a href="#" title="Latest WordPress Support">Latest WordPress Support</a></h6>
                                    </div>

                                    Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.... </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-4412" class="post-4412 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle category-travel tag-blog tag-fashion tag-model tag-street">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="#">
                                        <img src="{% static 'website/upload/photo-1444658293155-105ae40f8278-1-960x636.jpg' %}" alt="Top Quality Design" class="" style="width:960px;height:636px;" />
                                    </a>
                                </div>

                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">
                                            September 1, 2015&nbsp;/&nbsp;
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <h6><a href="#" title="Top Quality Design">Top Quality Design</a></h6>
                                    </div>

                                    Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.... </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-1135" class="post-1135 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-blog tag-city tag-landscape-2 tag-portrait-2 tag-street-photography-2">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="#">
                                        <img src="{% static 'website/upload/Free-Fashion-Wallpaper-for-Desktop-12-960x636.jpg' %}" alt="Standard Blog Post" class="" style="width:960px;height:636px;" />
                                    </a>
                                </div>

                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">
                                            June 26, 2013&nbsp;/&nbsp;
                                            <a href="#">Travel</a>
                                        </div>
                                        <h6><a href="#" title="Standard Blog Post">Standard Blog Post</a></h6>
                                    </div>

                                    Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.... </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-1133" class="post-1133 post type-post status-publish format-standard has-post-thumbnail hentry category-lifestyle tag-blog tag-city tag-fashion tag-model tag-portrait-2 tag-street">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="#">
                                        <img src="{% static 'website/upload/8245632244_f26259c9f9_o-960x636.jpg' %}" alt="Support Video Post" class="" style="width:960px;height:636px;" />
                                    </a>
                                </div>

                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">
                                            June 26, 2013&nbsp;/&nbsp;
                                            <a href="#">Lifestyle</a>
                                        </div>
                                        <h6><a href="#" title="Support Video Post">Support Video Post</a></h6>
                                    </div>

                                    Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.... </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                        <!-- Begin each blog post -->
                        <div id="post-1131" class="post-1131 post type-post status-publish format-standard has-post-thumbnail hentry category-photography tag-fashion tag-landscape-2 tag-model tag-street">

                            <div class="post_wrapper grid_layout">

                                <div class="post_img small static">
                                    <a href="#">
                                        <img src="{% static 'website/upload/shutterstock_113159482-960x636.jpg' %}" alt="Gallery and Portfolio" class="" style="width:960px;height:636px;" />
                                    </a>
                                </div>

                                <div class="blog_grid_content">
                                    <div class="post_header grid">
                                        <div class="post_info_cat">
                                            June 26, 2013&nbsp;/&nbsp;
                                            <a href="#">Photography</a>
                                        </div>
                                        <h6><a href="#" title="Gallery and Portfolio">Gallery and Portfolio</a></h6>
                                    </div>

                                    Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris elementum accumsan leo vel tempor.... </div>

                            </div>

                        </div>
                        <!-- End each blog post -->

                    </div>

                    <div class="sidebar_wrapper">

                        <div class="sidebar_top"></div>

                        <div class="sidebar">

                            <div class="content">

                                <ul class="sidebar_widget">
                                    <li id="grandportfolio_social_profiles_posts-2" class="widget grandportfolio_Social_Profiles_Posts">
                                        <h2 class="widgettitle"><span>Follow Me On</span></h2>
                                        <div class="textwidget">
                                            <div class="social_wrapper shortcode light small">
                                                <ul>
                                                    <li class="facebook"><a target="_blank" title="Facebook" href="#"><i class="fa fa-facebook-official"></i></a></li>
                                                    <li class="twitter"><a target="_blank" title="Twitter" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                                    <li class="flickr"><a target="_blank" title="Flickr" href="http://flickr.com/people/#"><i class="fa fa-flickr"></i></a></li>
                                                    <li class="pinterest"><a target="_blank" title="Pinterest" href="http://pinterest.com/#"><i class="fa fa-pinterest"></i></a></li>
                                                    <li class="instagram"><a target="_blank" title="Instagram" href="http://instagram.com/thehautepursuit"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                    <li id="grandportfolio_popular_posts-2" class="widget grandportfolio_Popular_Posts">
                                        <h2 class="widgettitle"><span>Popular Posts</span></h2>
                                        <ul class="posts blog withthumb ">
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="{% static 'website/upload/photo-1444658293155-105ae40f8278-1-150x150.jpg' %}" alt="" /></a>
                                                </div><a href="#">Top Quality Design</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1-150x150.jpg' %}" alt="" /></a>
                                                </div><a href="#">Latest WordPress Support</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                            <li>
                                                <div class="post_circle_thumb">
                                                    <a href="#"><img src="{% static 'website/upload/shutterstock_37224571-150x150.jpg' %}" alt="" /></a>
                                                </div><a href="#">Awesome Support</a>
                                                <div class="post_attribute">September 1, 2015</div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="categories-3" class="widget widget_categories">
                                        <h2 class="widgettitle"><span>Categories</span></h2>
                                        <ul>
                                            <li class="cat-item cat-item-10"><a href="#">Featured</a>
                                            </li>
                                            <li class="cat-item cat-item-17"><a href="#">Lifestyle</a>
                                            </li>
                                            <li class="cat-item cat-item-9"><a href="#">Photography</a>
                                            </li>
                                            <li class="cat-item cat-item-14"><a href="#">Travel</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                            </div>

                        </div>
                        <br class="clear" />

                        <div class="sidebar_bottom"></div>
                    </div>

                </div>
                <!-- End main content -->
                <br class="clear" />
                <br/>
                <div class="pagination"><span class="current">1</span><a href='http://themes.themegoods.com/grandportfolio/demo4/blog/page/2/' class="inactive">2</a></div>
                <div class="pagination_detail">
                    Page 1 of 2 </div>

            </div>
            <br class="clear" />
            <br/>
        </div>


    </div>

    <div id="overlay_background">
    </div>




</body>

</html>

{% endblock %}