{% extends "base.html" %}

{% load static %}
{% block content %}




        <div class="ppb_wrapper  ">
            <div class="ppb_portfolio one nopadding ">
                <div class="page_content_wrapper ">
                    <div class="standard_wrapper">
                        <div class="portfolio_title_wrapper">
                            <h2 class="ppb_title alignleft">The details are not the details. They make the design.</h2>
                            <ul class="portfolio_wall_filters portfolio-main filter full alignright">
                                <li style="clear:none">
                                    <a href="single.html" title="All">All</a>
                                    <span class="separator">/</span>
                                </li>
                                <li class="cat-item fashion" data-type="fashion" style="clear:none">
                                    <a href="single.html" title="Fashion">Fashion</a>
                                    <span class="separator">/</span>
                                </li>
                                <li class="cat-item landscape" data-type="landscape" style="clear:none">
                                    <a href="single.html" title="Landscape">Landscape</a>
                                    <span class="separator">/</span>
                                </li>
                                <li class="cat-item lifestyle" data-type="lifestyle" style="clear:none">
                                    <a href="single.html" title="Lifestyle">Lifestyle</a>
                                    <span class="separator">/</span>
                                </li>
                                <li class="cat-item portrait" data-type="portrait" style="clear:none">
                                    <a href="single.html" title="Portrait">Portrait</a>
                                    <span class="separator">/</span>
                                </li>
                            </ul>
                        </div>
                        <br class="clear" />
                        <div id="1565266663239699151" class="portfolio_filter_wrapper gallery portfolio-content section content clearfix three_cols contain" data-columns="3">
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated1 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1444401204624-37f96b493f67-705x470.jpg" alt="Rocky Island" />
                                        <div id="portfolio_desc_1555" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Rocky Island</h5>
                                                    <div class="post_detail">Lighting / Commercial / Portrait</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated2 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1447154705288-7175737fb73c-705x939.jpg" alt="Lovely Couple" />
                                        <div id="portfolio_desc_1554" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Lovely Couple</h5>
                                                    <div class="post_detail">Fashion / Portrait / Beauty</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated3 portfolio_type">
                                    <a href="single.html"><img src="upload/team_thumb_three-705x705.jpg" alt="Photographer Girl" />
                                        <div id="portfolio_desc_1553" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Photographer Girl</h5>
                                                    <div class="post_detail">Model / Portrait / Fashion</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated4 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1446133132410-19df4d6610a1-705x940.jpg" alt="Vintage Radio" />
                                        <div id="portfolio_desc_1552" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Vintage Radio</h5>
                                                    <div class="post_detail">Landscape / Model / Architecture</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated5 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1437623889155-075d40e2e59f-705x470.jpg" alt="Historical Bridge" />
                                        <div id="portfolio_desc_494" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Historical Bridge</h5>
                                                    <div class="post_detail">Fashion / Portrait / Modeling</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated6 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1446127281790-166e52d1b73c-705x470.jpg" alt="Nature Patterns" />
                                        <div id="portfolio_desc_493" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Nature Patterns</h5>
                                                    <div class="post_detail"> Portrait / Modeling / Lighting</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated7 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1440330033336-7dcff4630cef-705x525.jpg" alt="Lonely Path" />
                                        <div id="portfolio_desc_492" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Lonely Path</h5>
                                                    <div class="post_detail">Landscape / Fields / Sun Set</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated8 portfolio_type">
                                    <a href="single.html"><img src="upload/people-coffee-tea-meeting-705x470.jpg" alt="The Castle" />
                                        <div id="portfolio_desc_486" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>The Castle</h5>
                                                    <div class="post_detail">Winter / Nature / Bokeh</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated9 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1445052858312-134745f190f2-705x1058.jpg" alt="Appreciation" />
                                        <div id="portfolio_desc_485" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Appreciation</h5>
                                                    <div class="post_detail">Landscape / Tree / Nature</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated10 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1444526288091-13feffd062e3-705x470.jpg" alt="Foggy Island" />
                                        <div id="portfolio_desc_484" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>Foggy Island</h5>
                                                    <div class="post_detail">Portrait / Modeling / Fashion</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="element classic3_cols">
                                <div class="one_third gallery3 filterable static animated11 portfolio_type">
                                    <a href="single.html"><img src="upload/photo-1447179523408-16f562c0c8ed-705x470.jpg" alt="The Different" />
                                        <div id="portfolio_desc_442" class="portfolio_title">
                                            <div class="table">
                                                <div class="cell">
                                                    <h5>The Different</h5>
                                                    <div class="post_detail">Fashion / Portrait / Bokeh</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider one">&nbsp;</div>
            <div class="divider one">&nbsp;</div>
        </div>



{% endblock %}