{% extends 'base.html' %}

{% block content %}

{% load static %}




<body class="home page-template-default page page-id-4553">


        <div class="ppb_wrapper  ">
            <div class="standard_wrapper">
                <div class="one" style="padding:40px 0 40px 0;">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="image_classic_frame expand animate">
                                <div class="image_wrapper">
                                    <a href="{% static 'website/upload/hero_film06.jpg' %}" class="img_frame"><img src="{% static 'website/upload/hero_film06.jpg' %}" alt="" class="portfolio_img" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ppb_portfolio one nopadding ">
                <div class="page_content_wrapper ">
                    <div class="standard_wrapper">
                        <div id="15293274861674973561" class="portfolio_filter_wrapper gallery portfolio-content section content clearfix two_cols contain" data-columns="2">
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated1">
                                    <a href="#"><img src="{% static 'website/upload/shutterstock_66022834-1-705x559.jpg' %}" alt="Rocky Island" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_1555" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Rocky Island</h5>
                                    <div class="post_detail">Lighting / Commercial / Portrait</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated2">
                                    <a href="#"><img src="{% static 'website/upload/beauty-blonde-girl-portrait-fashion-photo-wallpaper-1680x1050-1-705x441.jpg' %}" alt="Lovely Couple" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_1554" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Lovely Couple</h5>
                                    <div class="post_detail">Fashion / Portrait / Beauty</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated3">
                                    <a href="#"><img src="{% static 'website/upload/FASHION-WALLPAPER-P-teen-fashion-28084751-1920-1200-1-705x441.jpg' %}" alt="Photographer Girl" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_1553" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Photographer Girl</h5>
                                    <div class="post_detail">Model / Portrait / Fashion</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated4">
                                    <a href="#"><img src="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1-705x470.jpg' %}" alt="Vintage Radio" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_1552" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Vintage Radio</h5>
                                    <div class="post_detail">Landscape / Model / Architecture</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated5">
                                    <a href="#"><img src="{% static 'website/upload/shutterstock_44665597-1-705x597.jpg' %}" alt="Historical Bridge" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_494" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Historical Bridge</h5>
                                    <div class="post_detail">Fashion / Portrait / Modeling</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated6">
                                    <a href="#"><img src="{% static 'website/upload/shutterstock_37224571-705x522.jpg' %}" alt="Nature Patterns" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_493" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Nature Patterns</h5>
                                    <div class="post_detail"> Portrait / Modeling / Lighting</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated7">
                                    <a href="#"><img src="{% static 'website/upload/Free-Fashion-Wallpaper-for-Desktop-12-705x441.jpg' %}" alt="Lonely Path" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_492" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Lonely Path</h5>
                                    <div class="post_detail">Landscape / Fields / Sun Set</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated8">
                                    <a href="#"><img src="{% static 'website/upload/8245632244_f26259c9f9_o-705x470.jpg' %}" alt="The Castle" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_486" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>The Castle</h5>
                                    <div class="post_detail">Winter / Nature / Bokeh</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated9">
                                    <a href="#"><img src="{% static 'website/upload/photo-1443180683100-fbb2c471775e-1-705x469.jpg' %}" alt="Appreciation" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_485" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Appreciation</h5>
                                    <div class="post_detail">Landscape / Tree / Nature</div>
                                </div>
                            </div>
                            <div class="element classic2_cols">
                                <div class="one_half gallery2 classic filterable static animated10">
                                    <a href="#"><img src="{% static 'website/upload/photo-1444658293155-105ae40f8278-1-705x470.jpg' %}" alt="Foggy Island" />
                                        <div class="portfolio_classic_icon_wrapper">
                                            <div class="portfolio_classic_icon_content">
                                                <i class="fa fa-mail-forward"></i>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <br class="clear" />
                                <div id="portfolio_desc_484" class="portfolio_desc portfolio2 contain filterable">
                                    <h5>Foggy Island</h5>
                                    <div class="post_detail">Portrait / Modeling / Fashion</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



</body>

</html>

{% endblock %}