{% extends 'base.html' %}

{% block content %}

{% load static %}



<body class="home page-template-default page page-id-3602">



        <div id="page_caption" class="hasbg parallax    ppb_enable classic">
            <div id="bg_regular" style="background-image:url({% static 'website/upload/photo-1444072934215-c426fc67ab9c.jpg' %});"></div>

            <div class="page_title_wrapper left">
                <div class="page_title_inner">
                    <h1>Gallery With Cover</h1>
                    <div class="page_tagline">
                        © By Awesome Photographer </div>
                </div>
            </div>
        </div>

        <div class="ppb_wrapper hasbg ">
            <div class="ppb_portfolio one nopadding ">
                <div class="page_content_wrapper ">
                    <div class="standard_wrapper"></div>
                    <div id="15663082941631954552" class="portfolio_filter_wrapper gallery portfolio-content section content clearfix three_cols wide" data-columns="3">
                        <div class="element classic3_cols">
                            <div class="one_third gallery3 classic filterable static animated1">
                                <a href="singleport.html"><img src="{% static 'website/upload/photo-1444401204624-37f96b493f67-705x529.jpg' %}" alt="Rocky Island" />
                                    <div class="portfolio_classic_icon_wrapper">
                                        <div class="portfolio_classic_icon_content">
                                            <i class="fa fa-mail-forward"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br class="clear" />
                            <div id="portfolio_desc_1555" class="portfolio_desc portfolio3 wide filterable">
                                <h5>Rocky Island</h5>
                                <div class="post_detail">Lighting / Commercial / Portrait</div>
                            </div>
                        </div>
                        <div class="element classic3_cols">
                            <div class="one_third gallery3 classic filterable static animated2">
                                <a href="singleport.html"><img src="{% static 'website/upload/photo-1447154705288-7175737fb73c-705x529.jpg' %}" alt="Lovely Couple" />
                                    <div class="portfolio_classic_icon_wrapper">
                                        <div class="portfolio_classic_icon_content">
                                            <i class="fa fa-mail-forward"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br class="clear" />
                            <div id="portfolio_desc_1554" class="portfolio_desc portfolio3 wide filterable">
                                <h5>Lovely Couple</h5>
                                <div class="post_detail">Fashion / Portrait / Beauty</div>
                            </div>
                        </div>
                        <div class="element classic3_cols">
                            <div class="one_third gallery3 classic filterable static animated3">
                                <a href="singleport.html"><img src="{% static 'website/upload/team_thumb_three-705x529.jpg' %}" alt="Photographer Girl" />
                                    <div class="portfolio_classic_icon_wrapper">
                                        <div class="portfolio_classic_icon_content">
                                            <i class="fa fa-mail-forward"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br class="clear" />
                            <div id="portfolio_desc_1553" class="portfolio_desc portfolio3 wide filterable">
                                <h5>Photographer Girl</h5>
                                <div class="post_detail">Model / Portrait / Fashion</div>
                            </div>
                        </div>
                        <div class="element classic3_cols">
                            <div class="one_third gallery3 classic filterable static animated4">
                                <a href="singleport.html"><img src="{% static 'website/upload/photo-1446133132410-19df4d6610a1-705x529.jpg' %}" alt="Vintage Radio" />
                                    <div class="portfolio_classic_icon_wrapper">
                                        <div class="portfolio_classic_icon_content">
                                            <i class="fa fa-mail-forward"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br class="clear" />
                            <div id="portfolio_desc_1552" class="portfolio_desc portfolio3 wide filterable">
                                <h5>Vintage Radio</h5>
                                <div class="post_detail">Landscape / Model / Architecture</div>
                            </div>
                        </div>
                        <div class="element classic3_cols">
                            <div class="one_third gallery3 classic filterable static animated5">
                                <a href="singleport.html"><img src="{% static 'website/upload/photo-1446127281790-166e52d1b73c-705x529.jpg' %}" alt="Historical Bridge" />
                                    <div class="portfolio_classic_icon_wrapper">
                                        <div class="portfolio_classic_icon_content">
                                            <i class="fa fa-mail-forward"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br class="clear" />
                            <div id="portfolio_desc_494" class="portfolio_desc portfolio3 wide filterable">
                                <h5>Historical Bridge</h5>
                                <div class="post_detail">Fashion / Portrait / Modeling</div>
                            </div>
                        </div>
                        <div class="element classic3_cols">
                            <div class="one_third gallery3 classic filterable static animated6">
                                <a href="singleport.html"><img src="{% static 'website/upload/photo-1437623889155-075d40e2e59f-705x529.jpg' %}" alt="Nature Patterns" />
                                    <div class="portfolio_classic_icon_wrapper">
                                        <div class="portfolio_classic_icon_content">
                                            <i class="fa fa-mail-forward"></i>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <br class="clear" />
                            <div id="portfolio_desc_493" class="portfolio_desc portfolio3 wide filterable">
                                <h5>Nature Patterns</h5>
                                <div class="post_detail"> Portrait / Modeling / Lighting</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    {% comment %} <input type="hidden" id="pp_menu_layout" name="pp_menu_layout" value="leftalign_center" />
    <input type="hidden" id="pp_enable_right_click" name="pp_enable_right_click" value="" />
    <input type="hidden" id="pp_enable_dragging" name="pp_enable_dragging" value="" />
    <input type="hidden" id="pp_image_path" name="pp_image_path" value="images/" />
    <input type="hidden" id="pp_homepage_url" name="pp_homepage_url" value="index.html" />
    <input type="hidden" id="grandportfolio_ajax_search" name="grandportfolio_ajax_search" value="1" />
    <input type="hidden" id="pp_fixed_menu" name="pp_fixed_menu" value="1" />
    <input type="hidden" id="pp_topbar" name="pp_topbar" value="0" />
    <input type="hidden" id="post_client_column" name="post_client_column" value="4" />
    <input type="hidden" id="pp_back" name="pp_back" value="Back" />
    <input type="hidden" id="pp_page_title_img_blur" name="pp_page_title_img_blur" value="1" />
    <input type="hidden" id="tg_portfolio_filterable_link" name="tg_portfolio_filterable_link" value="0" />
    <input type="hidden" id="tg_flow_enable_reflection" name="tg_flow_enable_reflection" value="0" />
    <input type="hidden" id="tg_lightbox_skin" name="tg_lightbox_skin" value="metro-white" />
    <input type="hidden" id="tg_lightbox_thumbnails" name="tg_lightbox_thumbnails" value="horizontal" />
    <input type="hidden" id="tg_lightbox_opacity" name="tg_lightbox_opacity" value="0.95" />
    <input type="hidden" id="tg_fixed_menu_color" name="tg_fixed_menu_color" value="light" />
    <input type="hidden" id="pp_footer_style" name="pp_footer_style" value="4" /> {% endcomment %}





</body>

{% endblock %}