{% extends 'home/base.html' %}

{% block content %}

{% load static %}


<body class="home page-template-default page page-id-4553">



    <div style="padding-bottom: 65px;  background-color:#424949;"></div>

    <div class="ppb_wrapper  ">
        <div class="standard_wrapper">
            <div class="one" style="padding-bottom:50px !important;padding:40px 0 40px 0;">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="image_classic_frame expand animate">
                            <div class="image_wrapper">
                                <img src="{% static 'website/upload/about/mylene-tremoyet-Da0pdCekeUs-unsplash.jpg' %}"
                                    alt="" class="portfolio_img" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="one" style="padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="post_content_wrapper">
                    <div class="post_header">
                        <h2 class="ppb_title" style="padding:40px 0 40px 0;">Meet Our Team</h2>
                        <div class="post_excerpt ">
                            <p style="font-size:18px">
                                We are a family owned and operated small business set in the ever-growing Greater
                                Houston
                                area. We take pride in bringing the very best photography to our customers near and far.
                                We
                                specialize in Weddings and Quinces, but we are happy to meet any need you might have.
                                With
                                over 30 years of experience, we know just what it takes to make your special moments
                                last!
                            </p>
                            
                        </div>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>










        <div class="one" style="padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half content_middle animate textright" style="padding: 80px 0 0 0;">
                            <h2 style="padding:0px 0 20px 0;">Nelson Lopez Sr.</h2>
                            <p style="font-size:18px">
                                Owner of Nelson’s Video Photography. Nelson has always had a passion for photography,
                                even as a boy in his home country, El Salvador. 
                                <br>
                                Like many others, he immigrated to the
                                US and this business is his pride, joy, and American Dream. 
                                <br>
                                He is a master photographer,
                                videographer, and DJ.
                            </p>
                        </div>
                        <div class="one_half last">
                            <div class="image_classic_frame expand animate">
                                <div class="image_wrapper"><img
                                        src="{% static 'website/upload/shutterstock_66012913-1.jpg' %}" alt=""
                                        class="portfolio_img" /></div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>

        <div class="one" style="padding-top:0 !important;padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half">
                            <div class="image_classic_frame expand animate">
                                <div class="image_wrapper"><img
                                        src="{% static 'website/upload/shutterstock_44843488-1.jpg' %}" alt=""
                                        class="portfolio_img" /></div>
                            </div>
                        </div>
                        <div class="one_half last content_middle animate" style="padding: 80px 0 0 0;">
                            <h2 style="padding:0px 0 20px 0;">Jose Lopez</h2>
                            <p style="font-size:18px">
                                Software Developer, Videographer, Photographer. 
                                <br>
                                Jose Lopez is a talented videographer and visionary photographer. 
                                <br>
                                He has expertly coordinated many events and knows what it takes to make an event successful.
                            </p>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>

        <div class="one" style="padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half content_middle animate textright" style="padding: 80px 0 0 0;">
                            <h2 style="padding:0px 0 20px 0;">Diana Lopez</h2>
                            <p style="font-size:18px">
                                Marketing Manager, Videographer, Photographer.
                                <br>
                                Diana is a multi-talented team member with an eye for design and a passion for making
                                special moments come to life.
                                <br>
                                She brings incredible insight and enthusiasm to any event.
                            </p>
                        </div>
                        <div class="one_half last">
                            <div class="image_classic_frame expand animate">
                                <div class="image_wrapper"><img
                                        src="{% static 'website/upload/shutterstock_66012913-1.jpg' %}" alt=""
                                        class="portfolio_img" /></div>
                            </div>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>

        <div class="one" style="padding-top:0 !important;padding:40px 0 40px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div class="one_half">
                            <div class="image_classic_frame expand animate">
                                <div class="image_wrapper"><img
                                        src="{% static 'website/upload/shutterstock_44843488-1.jpg' %}" alt=""
                                        class="portfolio_img" /></div>
                            </div>
                        </div>
                        <div class="one_half last content_middle animate" style="padding: 80px 0 0 0;">
                            <h2 style="padding:0px 0 20px 0;">Nelson Lopez Jr.</h2>
                            <p style="font-size:18px">
                                Operations Manager, Videographer, Editor.
                                <br>
                                Nelson Lopez is the manager of events and accounts for the company.
                                <br>
                                Nelson is a diligent and detailed worker and always works to understand the client's
                                goals.
                            </p>
                        </div>
                        <br class="clear" />
                    </div>
                </div>
            </div>
        </div>

        <div class="one withsmallpadding ppb_text" style="padding:30px 0 30px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <hr />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="one withsmallpadding ppb_header " style="text-align:center;padding:30px 0 30px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:60%">
                            <h2 class="ppb_title" style="">Find us on Instagram</h2>
                            <hr class="title_break center" style="" />
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="one withsmallpadding ppb_text" style="padding:0px 0 0px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
<!-- Add Instagram feed  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider one">&nbsp;</div>
    </div>






</body>



{% endblock %}