{% extends "home/base.html" %}

{% load static %}
{% block content %}



<!-- Main wrapper -->


    <!-- Hero Slides -->
    <div class="one fullwidth ">
        <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-source="gallery"
            style="background:transparent;padding:0px;">
            <!-- START REVOLUTION SLIDER 5.4.7.3 fullscreen mode -->
            <div id="rev_slider_1_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.7.3">
                <ul>
                    <!-- SLIDE  -->
                    {% for slide in slides %}
                    <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="{{ slide.image.url }}" alt="" title="{{ slide.title }}" width="1440" height="958"
                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            data-bgparallax="off" class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <!-- <div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['bottom','bottom','bottom','bottom']" data-voffset="['-50','-50','-50','-50']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="image" data-responsive_offset="on" data-frames='[{"from":"opacity:0;","speed":600,"to":"o:1;sX:0.5;sY:0.5;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="z-index: 5;"><img src="{% static 'website/upload/luxury_collection.png' %}" alt="" data-ww="['816px','816px','816px','816px']" data-hh="['224px','224px','224px','224px']" width="816" height="224" data-no-retina> </div> -->
                    </li>
                    {% endfor %}
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>



<!-- Services -->

    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2>Photography</h2>
                            <p>
                                <img src="{% static 'website/upload/home/services/photo.jpg' %}" alt="" />
                                <br> 
                                Whether it’s the moment you say “I do!” or the moment your family gathers on the
                                dance floor to bust a move, rest assured we capture quality images that last a lifetime!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2>Film</h2>
                            <p>
                                <img src="{% static 'website/upload/home/services/Film2.jpg' %}" alt="" />
                                <br> 
                                Special moments in life are worth seeing again and again. Trust in our team to make
                                your big and little moments a movie worth a 5 star rating!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <h2>Corporate</h2>
                            <p>
                                <img src="{% static 'website/upload/home/services/Marketing2.jpg' %}" alt="" />
                                <br> 
                                Build a better business with our help. We offer video, photography, and web
                                services to help your business grow!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











    <!-- <div class="standard_wrapper">
        <div class="one withsmallpadding ppb_text" style="padding-top:0 !important;padding:50px 0 50px 0;">
            
            <div class="page_content_wrapper">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div class="blog_grid_wrapper sidebar_content full_width ppb_blog_posts two_cols" data-columns="2">

                            {% for service in services %}
                            <div class="post type-post hentry status-publish">
                                <div class="post_wrapper grid_layout">

                                    <div style="margin:auto; width:100%; ">
                                        <h2>{{ service.title }}</h2>
                                        <img src="{{ service.image.url }}" alt="">
                                        <p>{{ service.description }}</p>
                                    </div>

                                </div>

                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->



    <!-- <div class="container">
        <div class="row  ppb_text align-items-center " style="padding:50px 50px 50px 50px;">
            {% for service in services %}
            <div class=" col-lg-4 col-sm-6 single-item d-inline" style="margin:auto;">
                <h2>{{ service.title }}</h2>
                <img src="{{ service.image.url }}" alt=""> 
                <p>{{ service.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div> -->

    
<!-- 
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0px 50px 0px; ">
            
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        
                        <div style="margin:auto; width:100%; ">
                            {% for service in services %}
                            <h2>{{ service.title }}</h2>
                            <img src="{{ service.image.url }}" alt="">
                            <p>{{ service.description }}</p>
                            {% endfor %}
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
    </div> -->



    <!-- Special Events -->
    <div class="one fullwidth ">
        <div id="rev_slider_2_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-source="gallery"
            style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.7.3 auto mode -->
            <div id="rev_slider_2_2" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.7.3">
                <ul>
                    <!-- SLIDE  -->
                    {% for event in events %}
                    <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="{{ event.description }}">
                        <!-- MAIN IMAGE -->
                        <img src="{{ event.image.url }}"
                            alt="" title="" width="1440"
                            height="900" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat"
                            class="rev-slidebg" data-no-retina>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <!-- <div class="tp-caption   tp-resizeme" id="slide-3-layer-1" data-x="-10" data-y="center"
                            data-voffset="" data-width="['none','none','none','none']"
                            data-height="['none','none','none','none']" data-type="image" data-responsive_offset="on"
                            data-frames='[{"from":"opacity:0;","speed":600,"to":"o:1;sX:0.5;sY:0.5;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5;text-transform:left;">
                                <img src="{{ event.logo.url }}" alt="" data-ww="606px" data-hh="226px" width="606" height="226" data-no-retina> 
                            </div> -->

                        <!-- LAYER NR. 2 -->
                        <!-- <div class="tp-caption   tp-resizeme" id="slide-3-layer-2" data-x="170" data-y="center"
                            data-voffset="90" data-width="['auto']" data-height="['auto']" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"from":"y:50px;opacity:0;","speed":600,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                            data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; white-space: nowrap; font-size: 13px; line-height: 22px; font-weight: 700; color: rgba(153,153,153,1);font-family:Karla;text-transform:left;letter-spacing:3px;">
                            {{ event.topLayer }} </div> -->
                    </li>
                    {% endfor %}
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>

        </div>
        <!-- END REVOLUTION SLIDER -->
    </div>

    <!-- Gallery Title -->
    <div class="one withsmallpadding ppb_header " style="text-align:center;padding:50px 0 50px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        
                            <h2 class="ppb_title" style="">Portfolio</h2>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Gallery -->
    <div class="ppb_product_grid one nopadding ">
        <div class="page_content_wrapper">
            <div class="standard_wrapper">
                <div id="15293169781410340451"
                    class="portfolio_filter_wrapper gallery portfolio-content section content clearfix four_cols "
                    data-columns="4">
                    <div class="element classic4_cols">
                        <div class="one_fourth gallery4 classic filterable static animated1">
                            <a href="{% url 'portfolio_wedding' %}"><img src="{% static 'website/upload/home/portfolio/Wedding.jpg' %}" alt="Men Coat" />
                                <div class="portfolio_classic_icon_wrapper">
                                    <!-- <div class="portfolio_classic_icon_content">
                                        <i class="fa fa-table"></i>
                                    </div> -->
                                </div>
                            </a>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_4542" class="portfolio_desc portfolio4  filterable">
                            <a href="{% url 'portfolio_wedding' %}">
                                <h5>Weddings</h5>
                            </a>
                            
                            <!-- <div class="product_price"><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">&#36;</span>199.00</span>
                            </div> -->
                        </div>
                    </div>
                    <div class="element classic4_cols">
                        <div class="one_fourth gallery4 classic filterable static animated2">
                            <a href="{% url 'portfolio_quince' %}"><img src="{% static 'website/upload/home/portfolio/XV.jpg' %}"
                                    alt="Trending T Shirt" />
                                <div class="portfolio_classic_icon_wrapper">
                                    <!-- <div class="portfolio_classic_icon_content">
                                        <i class="fa fa-table"></i>
                                    </div> -->
                                </div>
                            </a>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_4545" class="portfolio_desc portfolio4  filterable">
                            <a href="{% url 'portfolio_quince' %}">
                                <h5>Quinceaños</h5>
                            </a>
                            
                            <!-- <div class="product_price"><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">&#36;</span>79.00</span>
                            </div> -->
                        </div>
                    </div>

                    <div class="element classic4_cols">
                        <div class="one_fourth gallery4 classic filterable static animated3">
                            <a href="{% url 'portfolio_portrait' %}"><img src="{% static 'website/upload/home/portfolio/portraits.jpg' %}" alt="Casual Dress" />
                                <div class="portfolio_classic_icon_wrapper">
                                    <!-- <div class="portfolio_classic_icon_content">
                                        <i class="fa fa-table"></i>
                                    </div> -->
                                </div>
                            </a>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_4548" class="portfolio_desc portfolio4  filterable">
                            <a href="{% url 'portfolio_portrait' %}">
                                <h5>Portraits</h5>
                            </a>
                            
                            <!-- <div class="product_price"><del><span class="woocommerce-Price-amount amount"><span
                                            class="woocommerce-Price-currencySymbol">&#36;</span>99.00</span></del>
                                <ins><span class="woocommerce-Price-amount amount"><span
                                            class="woocommerce-Price-currencySymbol">&#36;</span>69.00</span></ins>
                            </div> -->
                        </div>
                    </div>

                    
                    <div class="element classic4_cols">
                        <div class="one_fourth gallery4 classic filterable static animated4">
                            <a href="{% url 'portfolio_grad' %}"><img src="{% static 'website/upload/home/portfolio/grad.jpg' %}" alt="Elegant Suite" />
                                <div class="portfolio_classic_icon_wrapper">
                                    <!-- <div class="portfolio_classic_icon_content">
                                        <i class="fa fa-table"></i>
                                    </div> -->
                                </div>
                            </a>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_4551" class="portfolio_desc portfolio4  filterable">
                            <a href="{% url 'portfolio_grad' %}">
                                <h5>Graduations</h5>
                            </a>
                            
                            <!-- <div class="product_price"><span class="woocommerce-Price-amount amount"><span
                                        class="woocommerce-Price-currencySymbol">&#36;</span>199.00</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Divider -->
    <div class="one withsmallpadding ppb_text" style="padding-bottom:0 !important;padding:30px 0 30px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">

                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Featured Blog Title -->
    <!-- <div class="one withsmallpadding ppb_header " style="text-align:center;padding:50px 0 50px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <a href="{% url 'blog:all_blogs' %}">
                            <h2 class="ppb_title" style="">Latest News</h2>
                        </a>
                        
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Featured Blog -->
    <!-- <div class="standard_wrapper">
        <div class="one withsmallpadding" style="padding-top:0 !important;padding:50px 0 50px 0;">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div class="inner_wrapper">
                        <div id="1529316978913119821"
                            class="blog_grid_wrapper sidebar_content full_width ppb_blog_posts two_cols"
                            data-columns="2">
                            {% for blog in feat_blogs %}
                            <div id="post-4423" class="post type-post hentry status-publish">
                                <div class="post_wrapper grid_layout">
                                    
                                    <div class="post_img small">
                                        <a href="{% url 'blog:single_blog' blog.id %}">
                                            <img src="{{ blog.image.url }}"
                                                alt="Awesome Support" class="" />
                                        </a>
                                    </div>
                                    <div class="blog_grid_content">
                                        <div class="post_header grid">
                                            <div class="post_info_cat">{{ blog.publish }}
                                            </div>
                                            <h6>
                                                <a href="{% url 'blog:single_blog' blog.id %}" title="Awesome Support">{{ blog.title }}</a>
                                            </h6>
                                        </div>{{ blog.description|striptags|truncatechars:100 }}
                                    </div>
                                    
                                </div>
                            
                            </div>
                            {% endfor %} -->


                            <!-- <div id="post-4417" class="post type-post hentry status-publish">
                                <div class="post_wrapper grid_layout">
                                    <div class="post_img small">
                                        <a href="#">
                                            <img src="{% static 'website/upload/fashion-wallpapers-bx8skqx2-1-960x636.jpg' %}"
                                                alt="Latest WordPress Support" class="" />
                                        </a>
                                    </div>
                                    <div class="blog_grid_content">
                                        <div class="post_header grid">
                                            <div class="post_info_cat">September 1, 2015&nbsp;/&nbsp;<a
                                                    href="#">Featured</a></div>
                                            <h6><a href="#" title="Latest WordPress Support">Latest WordPress
                                                    Support</a></h6>
                                        </div>Lorem ipsum dosectetur adipisicing elit, sed do. Lorem ipsum dolor sit
                                        amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris
                                        elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam....
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Contact Us link w pic -->
    <div class= " ppb_fullscreen_image withbg " style="background-image:url('{% static 'website/upload/home/footer/footer.jpg' %}'); background-position: center top; color: #ffffff; height: 600px;">
        <div class="main_content_wrapper">
            <div class="main_content ">
                <div class="ppb_subtitle" style="color:#ffffff;">Through, Creative Ideas, Innovation &amp; Sheer Determination</div>
                <h2 class="ppb_title" style="color:#ffffff;">Lets Work Together</h2>
                <p>
                    <br>
                    <a href="{% url 'contact' %}" class="button ghost  white">Contact Us</a>
                </p>
            </div>
        </div>
    </div>




{% endblock %}