{% extends "home/base.html" %}

{% load static %}
{% block content %}














<div style="padding-bottom: 65px;  background-color:#424949;"></div>

<div id="page_caption" class="  single_gallery classic">

    <div class="page_title_wrapper ">
        <div class="page_title_inner">
            <h1 style="font-size:45px; text-transform: uppercase;">Graduations</h1>

            <hr class="title_break">
            <!-- <div class="page_tagline">
                        © By Awesome Designer </div> -->
        </div>
    </div>

</div>




<div class="one ">
    <div class="standard_wrapper">
        <div id="15664776371544500879" class="portfolio_filter_wrapper gallery three_cols wide" data-columns="3">
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/graduation/Grad-1.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/graduation/Grad-1.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/graduation/Grad-3.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/graduation/Grad-3.jpg' %}"
                            alt="" /></a>
                </div>
            </div>

            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/graduation/Grad-2.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/graduation/Grad-2.jpg' %}"
                            alt="" /></a>
                </div>
            </div>

            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/graduation/Grad-4.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/graduation/Grad-4.jpg' %}"
                            alt="" /></a>
                </div>
            </div>

            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/graduation/IMG_0168.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/graduation/IMG_0168.jpg' %}" alt="" /></a>
                </div>
            </div>
            
        </div>
    </div>

</div>
</div>






<div id="overlay_background"></div>





{% endblock %}
