{% extends "home/base.html" %}

{% load static %}
{% block content %}














<div style="padding-bottom: 65px;  background-color:#424949;"></div>

<div id="page_caption" class="  single_gallery classic">

    <div class="page_title_wrapper ">
        <div class="page_title_inner">
            <h1 style="font-size:45px; text-transform: uppercase;">Engagements</h1>

            <hr class="title_break">
            <!-- <div class="page_tagline">
                        © By Awesome Designer </div> -->
        </div>
    </div>

</div>




<div class="one ">
    <div class="standard_wrapper">
        <div id="15664776371544500879" class="portfolio_filter_wrapper gallery three_cols wide" data-columns="3">
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-01.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-01.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-02.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-02.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated3">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-03.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-03.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-04.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-04.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-05.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-05.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery"
                        href="{% static 'website/upload/portfolio/engagement/Engagement-06.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-06.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated7">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-07.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-07.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated8">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-08.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-08.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated9">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-09.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-09.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-10.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-10.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-11.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-11.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-12.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-12.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated3">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-13.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-13.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-14.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-14.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-15.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/engagement/Engagement-15.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/engagement/Engagement-16.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/engagement/Engagement-16.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            
        </div>
    </div>

</div>
</div>






<div id="overlay_background"></div>





{% endblock %}
