{% extends "home/base.html" %}

{% load static %}
{% block content %}



        <div id="page_caption" class="   ppb_enable classic">


            <div class="page_title_wrapper left">
                <div class="page_title_inner">
                    <h1>Portfolio</h1>
                    <div class="page_tagline">
                        Sample Template Elements </div>
                </div>
            </div>
        </div>




        <div class="ppb_wrapper  ">
            <div class="one withsmallpadding ppb_text" style="padding-top: 50px !important;padding:30px 0 30px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <div class="one_half " style="">
                                    <div class="image_classic_frame border"><img src="{% static 'website/upload/photo-1444072934215-c426fc67ab9c-960x636.jpg' %}" alt="" class="" data-animation="" style="" /></div>
                                </div>
                                <div class="one_half last " style="">
                                    <div class="image_classic_frame glow"><img src="{% static 'website/upload/photo-1445968660880-120e2f7b8c33-960x636.jpg' %}" alt="" class="" data-animation="" style="" /></div>
                                </div>
                                <p>
                                    <br class="clear" />
                                    <br />
                                    <br class="clear" />
                                </p>
                                <div class="one_half " style="">
                                    <div class="image_classic_frame dropshadow"><img src="{% static 'website/upload/team_thumb_three-960x636.jpg' %}" alt="" class="" data-animation="" style="" /></div>
                                </div>
                                <div class="one_half last " style="">
                                    <div class="image_classic_frame bottomshadow"><img src="{% static 'website/upload/photo-1445052858312-134745f190f2-960x636.jpg' %}" alt="" class="" data-animation="" style="" /></div>
                                </div>
                                <p>
                                    <br class="clear" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="one withsmallpadding ppb_header " style="text-align:center;padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:70%">
                                <h2 class="ppb_title" style="">Image Animation</h2>
                                <hr class="title_break center" style="" />
                                <div class="ppb_header_content">
                                    <p>Theme includes image options so you can create image with beautifully
                                        <br /> design frame and also you can easily add loading animation to your images.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <div class="one_half " style=""><img src="{% static 'website/upload/photo-1447179523408-16f562c0c8ed-960x636.jpg' %}" alt="" class="animated" data-animation="slideRight" style="" /></div>
                                <div class="one_half last " style="">
                                    <h5>Slide Right</h5>
                                    <p>Praesent rutrum felis a turpis luctus ut accumsan sem facilisis. Mauris at mi in nibh posuere molestie. Vivamus quis ante nec dolor fermentum sagittis. </p>
                                    <p>Ut aliquet eleifend nunc, eu pretium magna eleifend non. Nullam et orci eros. Sed tempor lectus id arcu consequat faucibus. Fusce et quam eros. Phasellus sodales pulvinar gravida. Aenean egestas accumsan porttitor. Sed ante odio, tincidunt ultrices</p>
                                    <p>Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero. Maecenas lacus aliquet et nisl nunc, per sed sed maecenas.Lectus tincidunt pellentesque augue urna sit sed, arcu sed ante ac montes pellentesque consectetuer, neque magnis penatibus laoreet vehicula nulla orci, a malesuada justo laoreet ipsum, in ac fusce.</p>
                                </div>
                                <p>
                                    <br class="clear" />
                                    <br />
                                    <br class="clear" />
                                </p>
                                <div class="one_half " style="">
                                    <h5>Slide Left</h5>
                                    <p>Praesent rutrum felis a turpis luctus ut accumsan sem facilisis. Mauris at mi in nibh posuere molestie. Vivamus quis ante nec dolor fermentum sagittis. </p>
                                    <p>Ut aliquet eleifend nunc, eu pretium magna eleifend non. Nullam et orci eros. Sed tempor lectus id arcu consequat faucibus. Fusce et quam eros. Phasellus sodales pulvinar gravida. Aenean egestas accumsan porttitor. Sed ante odio, tincidunt ultrices</p>
                                    <p>Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero. Maecenas lacus aliquet et nisl nunc, per sed sed maecenas.Lectus tincidunt pellentesque augue urna sit sed, arcu sed ante ac montes pellentesque consectetuer, neque magnis penatibus laoreet vehicula nulla orci, a malesuada justo laoreet ipsum, in ac fusce.</p>
                                </div>
                                <div class="one_half last " style=""><img src="{% static 'website/upload/photo-1440330033336-7dcff4630cef-960x636.jpg' %}" alt="" class="animated" data-animation="slideLeft" style="" /></div>
                                <p>
                                    <br class="clear" />
                                    <br />
                                    <br class="clear" />
                                </p>
                                <div class="one_half " style=""><img src="{% static 'website/upload/content_big_image_27-960x636.jpg' %}" alt="" class="animated" data-animation="slideUp" style="" /></div>
                                <div class="one_half last " style="">
                                    <h5>Slide Up</h5>
                                    <p>Praesent rutrum felis a turpis luctus ut accumsan sem facilisis. Mauris at mi in nibh posuere molestie. Vivamus quis ante nec dolor fermentum sagittis. </p>
                                    <p>Ut aliquet eleifend nunc, eu pretium magna eleifend non. Nullam et orci eros. Sed tempor lectus id arcu consequat faucibus. Fusce et quam eros. Phasellus sodales pulvinar gravida. Aenean egestas accumsan porttitor. Sed ante odio, tincidunt ultrices</p>
                                    <p>Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero. Maecenas lacus aliquet et nisl nunc, per sed sed maecenas.Lectus tincidunt pellentesque augue urna sit sed, arcu sed ante ac montes pellentesque consectetuer, neque magnis penatibus laoreet vehicula nulla orci, a malesuada justo laoreet ipsum, in ac fusce.</p>
                                </div>
                                <p>
                                    <br class="clear" />
                                </p>
                                <p>
                                    <br class="clear" />
                                </p>
                                <div class="one_half " style="">
                                    <h5>Fade In</h5>
                                    <p>Praesent rutrum felis a turpis luctus ut accumsan sem facilisis. Mauris at mi in nibh posuere molestie. Vivamus quis ante nec dolor fermentum sagittis. </p>
                                    <p>Ut aliquet eleifend nunc, eu pretium magna eleifend non. Nullam et orci eros. Sed tempor lectus id arcu consequat faucibus. Fusce et quam eros. Phasellus sodales pulvinar gravida. Aenean egestas accumsan porttitor. Sed ante odio, tincidunt ultrices</p>
                                    <p>Fringilla penatibus orci est non mollit, suspendisse pulvinar egestas a donec. Vulputate mi dui suscipit, molestie vulputate libero fusce iaculis suscipit. Sapien pede libero. Maecenas lacus aliquet et nisl nunc, per sed sed maecenas.Lectus tincidunt pellentesque augue urna sit sed, arcu sed ante ac montes pellentesque consectetuer, neque magnis penatibus laoreet vehicula nulla orci, a malesuada justo laoreet ipsum, in ac fusce.</p>
                                </div>
                                <div class="one_half last " style=""><img src="{% static 'website/upload/photo-1446814699583-d835df35a267.jpg' %}" alt="" class="animated" data-animation="fadeIn" style="" /></div>
                                <p>
                                    <br class="clear" />
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% static 'website/' %}
        <div class="footer_bar">

            <div id="footer" class="">
                <ul class="sidebar_widget three">
                    <li id="text-5" class="widget widget_text">
                        <div class="textwidget">
                            <p><img src="upload/themegoods.png" width="215" height="42" alt="ThemeGoods Logo" />
                                <br />
                                <br /> Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.</p>
                        </div>
                    </li>
                    <li id="recent-posts-2" class="widget widget_recent_entries">
                        <h2 class="widgettitle"><span>Recent Posts</span></h2>
                        <ul>
                            <li>
                                <a href="#">Awesome Support</a>
                            </li>
                            <li>
                                <a href="#">Latest WordPress Support</a>
                            </li>
                            <li>
                                <a href="#">Top Quality Design</a>
                            </li>
                            <li>
                                <a href="#">Standard Blog Post</a>
                            </li>
                            <li>
                                <a href="#">Support Video Post</a>
                            </li>
                        </ul>
                    </li>
                    <li id="text-6" class="widget widget_text">
                        <h2 class="widgettitle"><span>Contact Us</span></h2>
                        <div class="textwidget">
                            <p>732/21 Second Street, Manchester,
                                <br /> King Street,Kingston United Kingdom</p>
                            <p>(65)323-678-567
                                <br /> (65)323-678-568
                                <br />
                                <a href="mailto:info@grandportfolio.com">info@grandportfolio.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <br class="clear" />


{% endblock %}