{% extends "home/base.html" %}

{% load static %}
{% block content %}














<div style="padding-bottom: 65px;  background-color:#424949;"></div>

<div id="page_caption" class="  single_gallery classic">

    <div class="page_title_wrapper ">
        <div class="page_title_inner">
            <h1 style="font-size:45px; text-transform: uppercase;">Quinceaños</h1>

            <hr class="title_break">
            <!-- <div class="page_tagline">
                        © By Awesome Designer </div> -->
        </div>
    </div>

</div>




<div class="one ">
    <div class="standard_wrapper">
        <div id="15664776371544500879" class="portfolio_filter_wrapper gallery three_cols wide" data-columns="3">


            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/DSC_7727.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/DSC_7727.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7513.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/NVP_7513.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated3">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/DSC_7768.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/DSC_7768.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7558.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/NVP_7558.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7543.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/NVP_7543.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7576.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/NVP_7576.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated7">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7514.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/NVP_7514.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated8">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7563.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/NVP_7563.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated9">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7475.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/NVP_7475.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7521.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/NVP_7521.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7606.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/NVP_7606.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7540.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/NVP_7540.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated3">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/NVP_7759.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/NVP_7759.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-03.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-03.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-01.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-01.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-06.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-06.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated7">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-08.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-08.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated8">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-07.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-07.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated9">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-09.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-09.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-10.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-10.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-11.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-11.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-13.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-13.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-14.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-14.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-12.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-12.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated3">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-15.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-15.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-18.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-18.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-19.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-19.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-17.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-17.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated7">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-20.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-20.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated8">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-21.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-21.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated9">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-16.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-16.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-22.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-22.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated1">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-23.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-23.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated2">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-24.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-24.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated3">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-25.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-25.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated4">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-27.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-27.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated5">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-26.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-26.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-28.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-28.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated7">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-29.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-29.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated8">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-30.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-30.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated9">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-32.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-32.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-35.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-35.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-36.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-36.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-33.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-33.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated6">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-34.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-34.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated7">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-37.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-37.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated8">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-38.jpg' %}"
                        data-caption=""><img src="{% static 'website/upload/portfolio/quince/quince-38.jpg' %}"
                            alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated9">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-41.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-41.jpg' %}" alt="" /></a>
                </div>
            </div>
            <div class="element grid  classic3_cols">
                <div class="one_third gallery3 static filterable gallery_type animated10">
                    <a class="fancy-gallery" href="{% static 'website/upload/portfolio/quince/quince-39.jpg' %}"
                        data-caption="© By Awesome Photographer"><img
                            src="{% static 'website/upload/portfolio/quince/quince-39.jpg' %}" alt="" /></a>
                </div>
            </div>
            
            


        </div>
    </div>

</div>
</div>






<div id="overlay_background"></div>





{% endblock %}
