{% extends "home/base.html" %}

{% load static %}
{% block content %}

        <div id="page_caption" class="hasbg parallax    ppb_enable classic">
            <div id="bg_regular" style="background-image:url(upload/photo-1444072934215-c426fc67ab9c.jpg);"></div>

            <div class="page_title_wrapper left">
                <div class="page_title_inner">
                    <h1>Pricing</h1>
                    <div class="page_tagline">
                        Trusted by 96.000+ happy customers </div>
                </div>
            </div>
        </div>

        <div class="ppb_wrapper hasbg ">
            <div class="one withsmallpadding ppb_header " style="text-align:center;padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <h2 class="ppb_title" style="">Join ThemeGoods Family</h2>
                                <hr class="title_break center" style="" />
                                <div class="ppb_header_content">
                                    <p>Commissaire barthelemy, on your left bromont vande velde bahati koppenberg
                                        <br /> Res firma mitescere nescit, virenque general classification </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="one ppb_pricing" style="padding-top:85px !important;padding:50px 0 50px 0;background-color:#f0f0f0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="pricing_content_wrapper light">
                                <div class="pricing one_third  ">
                                    <div class="pricing_wrapper_border">
                                        <ul class="pricing_wrapper">
                                            <li class="title_row " style="color:#222222;">Personal</li>
                                            <li class="price_row"><strong>$</strong><em class="exact_price" style="color:#222222;">199</em><em class="time"></em></li>
                                            <li>Half Day Event
                                            </li>
                                            <li>10 Printed High-res Images
                                            </li>
                                            <li>1 Framed Images
                                            </li>
                                            <li>2 Outfit Changes
                                            </li>
                                            <li>Up to 100 High-res Images on CD
                                            </li>
                                            <li>1 Photographer</li>
                                            <li class="button_row "><a href="#" class="button" style="background:#222222;border-color:#222222;color:#fff;">Contact Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing one_third featured ">
                                    <div class="pricing_wrapper_border">
                                        <ul class="pricing_wrapper">
                                            <li class="title_row featured" style="color:#222222;">Group</li>
                                            <li class="price_row"><strong>$</strong><em class="exact_price" style="color:#222222;">399</em><em class="time"></em></li>
                                            <li>Full Day Event
                                            </li>
                                            <li>50 Printed High-res Images
                                            </li>
                                            <li>5 Framed Images
                                            </li>
                                            <li>5 Outfit Changes
                                            </li>
                                            <li>Up to 300 High-res Images on CD
                                            </li>
                                            <li>1-2 Photographer(s)</li>
                                            <li class="button_row featured"><a href="#" class="button" style="background:#222222;border-color:#222222;color:#fff;">Contact Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pricing one_third  last">
                                    <div class="pricing_wrapper_border">
                                        <ul class="pricing_wrapper">
                                            <li class="title_row " style="color:#222222;">Event</li>
                                            <li class="price_row"><strong>$</strong><em class="exact_price" style="color:#222222;">599</em><em class="time"></em></li>
                                            <li>Full Day Event
                                            </li>
                                            <li>200 Printed High-res Images
                                            </li>
                                            <li>20 Framed Images
                                            </li>
                                            <li>10 Outfit Changes
                                            </li>
                                            <li>Up to 1000 High-res Images on CD
                                            </li>
                                            <li>3-5 Photographer(s)</li>
                                            <li class="button_row "><a href="#" class="button" style="background:#222222;border-color:#222222;color:#fff;">Contact Now</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one_third withsmallpadding ppb_text" style="margin-bottom: 0 !important;padding:50px 0 50px 0;">
                    <div class="standard_wrapper">
                        <div class="page_content_wrapper">
                            <div class="inner">
                                <div style="margin:auto;width:100%">
                                    </p>
                                    <h5>Responsive Layout</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one_third withsmallpadding ppb_text" style="margin-bottom: 0 !important;padding:50px 0 50px 0;">
                    <div class="standard_wrapper">
                        <div class="page_content_wrapper">
                            <div class="inner">
                                <div style="margin:auto;width:100%">
                                    </p>
                                    <h5>Theme Customizer</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one_third last withsmallpadding ppb_text" style="margin-bottom: 0 !important;padding:50px 0 50px 0;">
                    <div class="standard_wrapper">
                        <div class="page_content_wrapper">
                            <div class="inner">
                                <div style="margin:auto;width:100%">
                                    </p>
                                    <h5>Mobile Compatibility</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one_third withsmallpadding ppb_text" style="padding-top: 0 !important;padding:50px 0 50px 0;">
                    <div class="standard_wrapper">
                        <div class="page_content_wrapper">
                            <div class="inner">
                                <div style="margin:auto;width:100%">
                                    </p>
                                    <h5>Awesome Support</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one_third withsmallpadding ppb_text" style="padding-top: 0 !important;padding:50px 0 50px 0;">
                    <div class="standard_wrapper">
                        <div class="page_content_wrapper">
                            <div class="inner">
                                <div style="margin:auto;width:100%">
                                    </p>
                                    <h5>Infinite Gallery</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one_third last withsmallpadding ppb_text" style="padding-top: 0 !important;padding:50px 0 50px 0;">
                    <div class="standard_wrapper">
                        <div class="page_content_wrapper">
                            <div class="inner">
                                <div style="margin:auto;width:100%">
                                    </p>
                                    <h5>Easy To Use</h5>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="parallax " data-image="upload/photo-1446127281790-166e52d1b73c.jpg" data-width="1440" data-height="961" style="height:600px; "></div>
            <div class="one withsmallpadding ppb_header " style="padding-bottom: 0 !important;text-align:center;padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                                <div class="ppb_subtitle" style="">Testimonials</div>
                                <h2 class="ppb_title" style="">Our Customers</h2></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard_wrapper">
                <div class="one withsmallpadding ppb_testimonial_column" style="padding:50px 0 50px 0;">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div class="testimonial_wrapper">
                                <div class="one_half testimonial_column_element animated1 ">
                                    <div class="testimonial_image animated" data-animation="bigEntrance"><img class="team_pic" src="upload/team1-150x150.jpg" alt="Christina Hardy" /></div>
                                    <div class="testimonial_content">"Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. <em>Sed vestibulum orci quam. Pellentesque</em> habitant morbi tristique senectus et netus et male."
                                        <br/>
                                        <br/>
                                        <div class="testimonial_customer">
                                            <h5>Christina Hardy</h5>
                                            <div class="testimonial_customer_position">Marketing Manager</div>-
                                            <div class="testimonial_customer_company"><a href="#" target="_blank">Red Inc.</a></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="one_half testimonial_column_element animated2 last">
                                    <div class="testimonial_image animated" data-animation="bigEntrance"><img class="team_pic" src="upload/team2-150x150.jpg" alt="Jane Bennett" /></div>
                                    <div class="testimonial_content">"In enim justo, rhoncus ut, <em>imperdiet a, venenatis vitae</em>, justo. Nullam dictum felis eu pede mollis pretium. Pellentesque habitant morbi tristique senectus et netus et male."
                                        <br/>
                                        <br/>
                                        <div class="testimonial_customer">
                                            <h5>Jane Bennett</h5>
                                            <div class="testimonial_customer_position">Developer</div>-
                                            <div class="testimonial_customer_company"><a href="#" target="_blank">Hubboard Media</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="footer_bar  single_gallery">

            <div id="footer" class="">
                <ul class="sidebar_widget three">
                    <li id="text-5" class="widget widget_text">
                        <div class="textwidget">
                            <p><img src="upload/themegoods.png" width="215" height="42" alt="ThemeGoods Logo" />
                                <br />
                                <br /> Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.</p>
                        </div>
                    </li>
                    <li id="recent-posts-2" class="widget widget_recent_entries">
                        <h2 class="widgettitle"><span>Recent Posts</span></h2>
                        <ul>
                            <li>
                                <a href="#">Awesome Support</a>
                            </li>
                            <li>
                                <a href="#">Latest WordPress Support</a>
                            </li>
                            <li>
                                <a href="#">Top Quality Design</a>
                            </li>
                            <li>
                                <a href="#">Standard Blog Post</a>
                            </li>
                            <li>
                                <a href="#">Support Video Post</a>
                            </li>
                        </ul>
                    </li>
                    <li id="text-6" class="widget widget_text">
                        <h2 class="widgettitle"><span>Contact Us</span></h2>
                        <div class="textwidget">
                            <p>732/21 Second Street, Manchester,
                                <br /> King Street,Kingston United Kingdom</p>
                            <p>(65)323-678-567
                                <br /> (65)323-678-568
                                <br />
                                <a href="mailto:info@grandportfolio.com">info@grandportfolio.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <br class="clear" />



{% endblock %}