{% extends "home/base.html" %}

{% load static %}
{% block content %}


    <div class="ppb_wrapper  ">
        <div class="  ppb_fullscreen_image withbg " style="background-image:url(upload/photo-1444677374926-21fdd7d58bd4.jpg);background-position: center top;color:#ffffff;">
            <div class="overlay"></div>
            <div class="main_content_wrapper">
                <div class="main_content ">
                    <div style="width:60%;margin:auto;">
                        <div class="ppb_subtitle" style="color:#ffffff;">Our Philosophy</div>
                        <h2 class="ppb_title" style="color:#ffffff;">Architecture is the learned game correct and magnificent of forms assembled in the light. </h2></div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_half withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">VISION</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas architecto beatae vitae</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_half last withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">MISSION</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas architecto beatae vitae</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax " data-image="upload/image1.jpg" data-width="1440" data-height="954" style="height:600px; "></div>
        <div class="one withsmallpadding ppb_text" style="padding-bottom: 0 !important;text-align:center;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            </p>
                            <h3>It is not the beauty of a building you should look at.<br />
                            its the construction of the foundation that will stand the test of time.</h3>
                            <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">ARCHITECTURE</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo iveritatis et quasi architecto beatae vitae dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">FLOOR PLAN</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo iveritatis et quasi architecto beatae vitae dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third last withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">INTERIOR DESIGN</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo iveritatis et quasi architecto beatae vitae dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">EXTERIOR DESIGN</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo iveritatis et quasi architecto beatae vitae dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">CONSTRUCTION</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo iveritatis et quasi architecto beatae vitae dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third last withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h5 class="bold">LANDSCAPE DESIGN</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo iveritatis et quasi architecto beatae vitae dicta.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="parallax " data-image="upload/people-office-group-team.jpg" data-width="1440" data-height="954" style="height:600px; "></div>
        <div class="one withsmallpadding ppb_header " style="padding-bottom:0 !important;text-align:center;padding:60px 0 60px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            <div class="ppb_subtitle" style="">Talent Architect Team</div>
                            <h2 class="ppb_title" style="">Meet Our WorldClass Creative Team</h2></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_team_column" style="padding-bottom: 30px !important;padding-top:50px;padding-bottom:50px;">
            <div class="standard_wrapper">
                <div class="team_wrapper">
                    <div class="one_third animated1 ">
                        <div class="post_img team"><img class="team_pic animated" data-animation="fadeIn" src="upload/team3.jpg" alt="" />
                            <div class="team_social_wrapper">
                                <div class="team_social_content">
                                    <ul class="social_wrapper team">
                                        <li><a title="Jessica Lee on Twitter" target="_blank" class="tooltip" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Jessica Lee on Facebook" target="_blank" class="tooltip" href="http://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Jessica Lee on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Jessica Lee on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_2621" class="portfolio_desc team ">
                            <h5>Jessica Lee</h5>
                            <div class="post_detail">Chief Architect</div>
                        </div>
                    </div>
                    <div class="one_third animated2 ">
                        <div class="post_img team"><img class="team_pic animated" data-animation="fadeIn" src="upload/team4.jpg" alt="" />
                            <div class="team_social_wrapper">
                                <div class="team_social_content">
                                    <ul class="social_wrapper team">
                                        <li><a title="Oliver Doe on Twitter" target="_blank" class="tooltip" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Oliver Doe on Facebook" target="_blank" class="tooltip" href="http://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Oliver Doe on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Oliver Doe on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_2624" class="portfolio_desc team ">
                            <h5>Oliver Doe</h5>
                            <div class="post_detail">Chief Marketing</div>
                        </div>
                    </div>
                    <div class="one_third animated3 last">
                        <div class="post_img team"><img class="team_pic animated" data-animation="fadeIn" src="upload/team1.jpg" alt="" />
                            <div class="team_social_wrapper">
                                <div class="team_social_content">
                                    <ul class="social_wrapper team">
                                        <li><a title="Frank Mondani on Twitter" target="_blank" class="tooltip" href="http://twitter.com/#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a title="Frank Mondani on Facebook" target="_blank" class="tooltip" href="http://facebook.com/#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a title="Frank Mondani on Google+" target="_blank" class="tooltip" href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a title="Frank Mondani on Linkedin" target="_blank" class="tooltip" href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <br class="clear" />
                        <div id="portfolio_desc_3170" class="portfolio_desc team last">
                            <h5>Frank Mondani</h5>
                            <div class="post_detail">Chief Designer</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="one withsmallpadding ppb_text" style="padding-top:0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="padding:-bottom: 0 !important;padding:0px 0 0px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h6>Architectural Team</h2>
                                <p>
                                James Harder<br />
                                Shawn Marion<br />
                                Jamie Carsley<br />
                                Joseph Pep</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div  class="one_third withsmallpadding ppb_text" style="padding:0px 0 0px 0;" >
                <div class="standard_wrapper"><div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%"></p>
                            <h6>Marketing Team</h2>
                            <p>
                            James Harder<br />
                            Shawn Marion<br />
                            Jamie Carsley<br />
                            Joseph Pep</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div  class="one_third last withsmallpadding ppb_text" style="padding:0px 0 0px 0;" >
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                            <h6>Operation Team</h2>
                            <p>
                            James Harder<br />
                            Shawn Marion<br />
                            Jamie Carsley<br />
                            Joseph Pep</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider one">&nbsp;</div>
        <div class="divider one">&nbsp;</div>
    </div>


{% endblock %}