{% extends "home/base.html" %} {% load static %} {% block content %}

<div id="page_caption" class="hasbg parallax">
    <div id="bg_regular" style="
        background-image: url('{% static 'website/upload/content_big_image_27.jpg' %}');
    "></div>
</div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg">
    <div class="post_caption">
        <h1>Photography</h1>
        <hr class="title_break" />
    </div>

    <div class="inner">
        <!-- Begin main content -->
        <div class="inner_wrapper">
            <div class="sidebar_content full_width blog_f">
                <!-- Begin each blog post -->
                <div id="post-490"
                    class="post-490 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-travel tag-landscape-2 tag-portrait-2 tag-street-photography-2">
                    <div class="post_wrapper">
                        <div class="post_content_wrapper">
                            <div class="post_header">
                                <div class="post_excerpt">
                                    Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum
                                    dolor sit amet, consectetur Nulla fringilla purus at leo
                                    dignissim congue. Mauris elementum accumsan leo vel tempor.
                                    Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus
                                    viverra quis at felis. Sed do.Lorem ipsum dolor sit amet,
                                    consectetur Nulla fringilla purus Lorem ipsum dosectetur
                                    adipisicing elit at leo dignissim congue. Mauris elementum
                                    accumsan leo vel tempor.
                                </div>
                                <div class="post_excerpt animate">
                                    <blockquote>
                                        <p>
                                            Good design is making something intelligible and
                                            memorable.
                                            <br />
                                            Great design is making something memorable and meaningful.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="post_excerpt">
                                    Aliquam et elit eu nunc rhoncus viverra quis at felis et netus
                                    et malesuada fames ac turpis egestas. Aenean commodo ligula
                                    eget dolor. Aenean massa. Cum sociis natoque penatibus et
                                    magnis dis parturient montes
                                </div>
                                
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End main content -->
    </div>
</div>


{% comment %} Prices {% endcomment %}
<div class="ppb_wrapper hasbg">

    <div class="one ppb_pricing" style="
        padding-top: 85px !important;
        padding: 50px 0 50px 0;
        background-color: #f0f0f0;
    ">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div class="pricing_content_wrapper light">
                        <div class="pricing one_third">
                            <div class="pricing_wrapper_border">
                                <ul class="pricing_wrapper">
                                    <li class="title_row" style="color: #222222">Mini Collection</li>
                                    <li class="price_row">
                                        <strong>$</strong><em class="exact_price" style="color: #222222">1400</em><em
                                            class="time"></em>
                                    </li>
                                    <li>Half Day Event</li>
                                    <li>1 Photographer</li>
                                    <li>1 Location</li>
                                    <li>Event Photo Book</li>
                                    <li>Up to 200 High-res Images on USB</li>
                                    <li>1- 11x14 (Canvas or Framed)</li>
                                    <li>2- 5x7 Prints</li>
                                    <li></li>
                                    <li></li>
                                    <li class="button_row">
                                        <a href="#" class="button" style="
                        background: #222222;
                        border-color: #222222;
                        color: #fff;
                        ">Contact Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing one_third featured">
                            <div class="pricing_wrapper_border">
                                <ul class="pricing_wrapper">
                                    <li class="title_row featured" style="color: #222222">
                                        Collection
                                    </li>
                                    <li class="price_row">
                                        <strong>$</strong><em class="exact_price" style="color: #222222">1800</em><em
                                            class="time"></em>
                                    </li>
                                    <li>Full Day Event</li>
                                    <li>1 Photographer</li>
                                    <li>Photo Session before Event</li>
                                    <li>8x8 Signature Book of Photo Session</li>
                                    <li>10x12 Event Photo Book</li>
                                    <li>Up to 500 High-res Images on USB</li>
                                    <li>1- 11x14 (Canvas or Framed)</li>
                                    <li>2- 8x10 (Canvas or Framed)</li>
                                    <li class="button_row featured">
                                        <a href="#" class="button" style="
                        background: #222222;
                        border-color: #222222;
                        color: #fff;
                        ">Contact Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing one_third last">
                            <div class="pricing_wrapper_border">
                                <ul class="pricing_wrapper">
                                    <li class="title_row" style="color: #222222">Grand Collection</li>
                                    <li class="price_row">
                                        <strong>$</strong><em class="exact_price" style="color: #222222">2200</em><em
                                            class="time"></em>
                                    </li>
                                    <li>Full Day Event</li>
                                    <li>2 Photographers</li>
                                    <li>Photo Session before Event</li>
                                    <li>8x8 Signature Book of Photo Session</li>
                                    <li>10x12 Event Photo Book</li>
                                    <li>Up to 1000 High-res Images on USB</li>
                                    <li>1- 11x14 (Canvas or Framed)</li>
                                    <li>2- 8x10 (Canvas or Framed)</li>
                                    <li class="button_row">
                                        <a href="#" class="button" style="
                        background: #222222;
                        border-color: #222222;
                        color: #fff;
                        ">Contact Now</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="one withsmallpadding ppb_text"
        style="padding-bottom: 0 !important;text-align:center;padding:50px 0 50px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        </p>
                        <h3>Add-ons</h3>
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">1 - Extra Photographer</h5>
                            <p style="font-size:15px">
                                $400
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">1 - Extra Hour</h5>
                            <p>
                                $100
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text"
            style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">Photo Session</h5>
                            <p>
                                $350
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">8x8 Signature Book</h5>
                            <p>
                                $150
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">10x12 Photo Book</h5>
                            <p>
                                $350
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">USB Media</h5>
                            <p>
                                $300
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax" data-image="upload/photo-1446127281790-166e52d1b73c.jpg" data-width="1440" data-height="961"
        style="height: 600px">
    </div>

</div>

<div id="page_content_wrapper" class="hasbg">
    <div class="inner">
        <!-- Begin main content -->
        <div class="inner_wrapper">
            <div class="sidebar_content full_width blog_f">
                <!-- Begin each blog post -->
                <div id="post-490"
                    class="post-490 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-travel tag-landscape-2 tag-portrait-2 tag-street-photography-2">
                    <div class="post_wrapper">

                        <p>&nbsp;</p>
                        <div class="video-container">
                            <iframe
                                src="https://player.vimeo.com/video/147196782?title=0&amp;byline=0&amp;portrait=0"
                                width="1425" height="534" frameborder="0" webkitallowfullscreen=""
                                mozallowfullscreen="" allowfullscreen="">
                            </iframe>
                        </div>
                        <p>&nbsp;</p>

                        <h6 class="subtitle"><span>You might also like</span></h6>
                            <hr class="title_break" />

                        <div class="post_related">
                                <div class="one_third">
                                    <!-- Begin each blog post -->
                                    <div id="post-4423"
                                        class="post-4423 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-blog tag-city tag-street tag-street-photography-2">
                                        <div class="post_wrapper grid_layout">
                                            <div class="post_img small static">
                                                <a href="#">
                                                    <img src="{% static 'website/upload/photo-1444072934215-c426fc67ab9c-960x636.jpg' %}"
                                                        alt="" class="" style="width: 960px; height: 636px" />
                                                </a>
                                            </div>

                                            <div class="blog_grid_content">
                                                <div class="post_header grid related">
                                                    <strong><a href="#" title="Awesome Support">Awesome
                                                            Support</a></strong>
                                                    <div class="post_info_cat">September 1, 2015</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End each blog post -->
                                </div>
                                <div class="one_third">
                                    <!-- Begin each blog post -->
                                    <div id="post-4417"
                                        class="post-4417 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-photography tag-fashion tag-model tag-portrait-2 tag-street-photography-2">
                                        <div class="post_wrapper grid_layout">
                                            <div class="post_img small static">
                                                <a href="#">
                                                    <img src="{% static 'website/upload/photo-1445968660880-120e2f7b8c33-960x636.jpg' %}"
                                                        alt="" class="" style="width: 960px; height: 636px" />
                                                </a>
                                            </div>

                                            <div class="blog_grid_content">
                                                <div class="post_header grid related">
                                                    <strong><a href="#" title="Latest WordPress Support">Latest
                                                            WordPress Support</a></strong>
                                                    <div class="post_info_cat">September 1, 2015</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End each blog post -->
                                </div>
                                <div class="one_third last">
                                    <!-- Begin each blog post -->
                                    <div id="post-1135"
                                        class="post-1135 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-blog tag-city tag-landscape-2 tag-portrait-2 tag-street-photography-2">
                                        <div class="post_wrapper grid_layout">
                                            <div class="post_img small static">
                                                <a href="#">
                                                    <img src="{% static 'website/upload/photo-1445052858312-134745f190f2-960x636.jpg' %}"
                                                        alt="" class="" style="width: 960px; height: 636px" />
                                                </a>
                                            </div>

                                            <div class="blog_grid_content">
                                                <div class="post_header grid related">
                                                    <strong><a href="#" title="Standard Blog Post">Standard Blog
                                                            Post</a></strong>
                                                    <div class="post_info_cat">June 26, 2013</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End each blog post -->
                                </div>
                            </div>
                            <hr class="title_break" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}