{% extends "home/base.html" %}

{% load static %}
{% block content %}


<div class="ppb_wrapper  ">
    <div class="  ppb_fullscreen_image withbg "
        style="background-image:url('{% static 'website/upload/services/main/tools.jpg' %}'); background-position: center top; color:#ffffff;">
        <div class="overlay"></div>
        <div class="main_content_wrapper">
            <div class="main_content ">
                <div style="width:60%;margin:auto;">
                    <div class="ppb_subtitle" style="color:#ffffff;">Our Philosophy</div>
                    <h2 class="ppb_title" style="color:#ffffff;">Great photography isn’t good enough. <br>Your moments
                        are worth excellence and that is what we aim to provide.</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="standard_wrapper">
        <div class="one_half withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <!-- <h5 class="bold">VISION</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas architecto beatae vitae
                                </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_half last withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <!-- <h5 class="bold">MISSION</h5>
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas architecto beatae vitae
                                </p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax " data-image="{% static 'website/upload/services/main/flowers.jpg' %}" data-width="1440"
        data-height="954" style="height:600px; "></div>
    <div class="one withsmallpadding ppb_text"
        style="padding-bottom: 0 !important;text-align:center;padding:50px 0 50px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        </p>
                        <h3>Cherish your moments, let us capture them for you.</h3>
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">Management and Organization</h5>
                            <p style="font-size:15px">
                                With over 30 years of experience, we know the ins and outs of every event. Trust in
                                us to maintain an organized schedule, effective and responsive communication, and
                                quality professionalism from beginning to end.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">The Morning Of Your Event</h5>
                            <p>
                                Our team of professionals will arrive in the morning to capture any transformation.
                                From the glimpses of hair and makeup to organic and intimate moments of a mother and
                                the bride. Taking photos and video of the dress, shoes, and family as the big day
                                begins.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text"
            style="padding-bottom: 0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">Destination Photography</h5>
                            <p>
                                Want a photo in the perfect place? We’ve got you covered! Natural setting
                                photography, like a fountain in a park or field full of flowers, makes a dramatic
                                statement to share with friends and family. Our adept team knows just what to do to
                                pose you and your party in any outdoor setting.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">Event Venue Photography</h5>
                            <p>
                                From the table tops to the centerpiece, every detail is a reflection of our clients
                                vision and dream. Before you even arrive, we film and photograph every venue’s
                                decor.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">During Your Event</h5>
                            <p>
                                High Quality and Hard Work are just a few things you can come to expect as we work
                                for you on your next event. During each event we make sure to record all the
                                prestations, dancing, food, laughter, and good times.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="standard_wrapper">
        <div class="one_third last withsmallpadding ppb_text" style="padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">

                            <h5 class="bold">After Your Event</h5>
                            <p>
                                Our team will expertly edit, adjust, and compile the film and video from your
                                special day into any package of your choosing.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="parallax " data-image="{% static 'website/upload/services/main/cake2.jpg' %}" data-width="1440"
        data-height="954" style="height:600px; "></div>
    <!-- <div class="one withsmallpadding ppb_header "
        style="padding-bottom:0 !important;text-align:center;padding:60px 0 60px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <div class="ppb_subtitle" style="">Talent Architect Team</div>
                        <h2 class="ppb_title" style="">Meet Our WorldClass Creative Team</h2>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- <div class="one withsmallpadding ppb_header " style="text-align:center;padding:60px 0 60px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:60%">
                        <h2 class="ppb_title" style="">Excellence is in the details and we never miss the shot.</h2>
                        <hr class="title_break center" style="" />

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="one withsmallpadding ppb_text" style="padding:0px 0 0px 0;">
        <div class="standard_wrapper">
            <div class="page_content_wrapper">
                <div class="inner">
                    <div style="margin:auto;width:100%">
                        <div class="video-container">
                            <iframe src="https://player.vimeo.com/video/226215943?title=0&amp;byline=0&amp;portrait=0"
                                width="1425" height="802" frameborder="0" webkitallowfullscreen="" mozallowfullscreen=""
                                allowfullscreen=""></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider one">&nbsp;</div>
 -->




    <div class="one withsmallpadding ppb_team_column"
        style="padding-bottom: 30px !important;padding-top:50px;padding-bottom:50px;">
        <div class="standard_wrapper">
            <div class="team_wrapper">

<!-- Add Contact Us link  -->
            </div>
        </div>
    </div>

    <!-- <div class="one withsmallpadding ppb_text" style="padding-top:0 !important;padding:50px 0 50px 0;">
            <div class="standard_wrapper">
                <div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%">
                            </p>
                            <hr/>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    <!-- <div class="standard_wrapper">
            <div class="one_third withsmallpadding ppb_text" style="padding:-bottom: 0 !important;padding:0px 0 0px 0;">
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">

                                <h6>Architectural Team</h2>
                                <p>
                                James Harder<br />
                                Shawn Marion<br />
                                Jamie Carsley<br />
                                Joseph Pep</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div  class="one_third withsmallpadding ppb_text" style="padding:0px 0 0px 0;" >
                <div class="standard_wrapper"><div class="page_content_wrapper">
                    <div class="inner">
                        <div style="margin:auto;width:100%"></p>
                            <h6>Marketing Team</h2>
                            <p>
                            James Harder<br />
                            Shawn Marion<br />
                            Jamie Carsley<br />
                            Joseph Pep</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="standard_wrapper">
            <div  class="one_third last withsmallpadding ppb_text" style="padding:0px 0 0px 0;" >
                <div class="standard_wrapper">
                    <div class="page_content_wrapper">
                        <div class="inner">
                            <div style="margin:auto;width:100%">
                            <h6>Operation Team</h2>
                            <p>
                            James Harder<br />
                            Shawn Marion<br />
                            Jamie Carsley<br />
                            Joseph Pep</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="divider one">&nbsp;</div>
        <div class="divider one">&nbsp;</div> -->
</div>


{% endblock %}