{% extends "home/base.html" %}

{% load static %}
{% block content %}


<div id="page_caption" class="hasbg parallax  ">

    <div id="bg_regular" style="background-image:url('{% static 'website/upload/content_big_image_27.jpg' %}');"></div>

</div>

<!-- Begin content -->
<div id="page_content_wrapper" class="hasbg ">
    <div class="post_caption">
        <h1>Film</h1>
        <hr class="title_break" />
    </div>

    <div class="inner">

        <!-- Begin main content -->
        <div class="inner_wrapper">

            <div class="sidebar_content full_width blog_f">

                <!-- Begin each blog post -->
                <div id="post-490"
                    class="post-490 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-travel tag-landscape-2 tag-portrait-2 tag-street-photography-2">

                    <div class="post_wrapper">

                        <div class="post_content_wrapper">

                            <div class="post_header">

                                <div class="post_excerpt ">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum
                                    dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue. Mauris
                                    elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et elit eu
                                    nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur
                                    Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim
                                    congue. Mauris elementum accumsan leo vel tempor.</div>
                                <div class="post_excerpt animate">
                                    <blockquote>
                                        <p>
                                            Good design is making something intelligible and memorable.
                                            <br>
                                            Great design is making something memorable and meaningful.
                                        </p>
                                    </blockquote>
                                </div>
                                <div class="post_excerpt ">Aliquam et elit eu nunc rhoncus viverra quis at felis et
                                    netus et malesuada fames ac turpis egestas. Aenean commodo ligula eget dolor. Aenean
                                    massa. Cum sociis natoque penatibus et magnis dis parturient montes</div>
                                <p>&nbsp;</p>
                                <div class="video-container">
                                    <iframe
                                        src="https://player.vimeo.com/video/147196782?title=0&amp;byline=0&amp;portrait=0"
                                        width="1425" height="534" frameborder="0" webkitallowfullscreen=""
                                        mozallowfullscreen="" allowfullscreen=""></iframe>
                                </div>
                                <p>&nbsp;</p>
                                <div class="post_excerpt animate">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem
                                    ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.
                                    Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et
                                    elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet,
                                    consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo
                                    dignissim congue. Mauris elementum accumsan leo vel tempor.</div>
                                <p>&nbsp;</p>
                                <div class="post_excerpt animate">Lorem ipsum dosectetur adipisicing elit, sed do.Lorem
                                    ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.
                                    Mauris elementum accumsan leo vel tempor. Sit amet cursus nisl aliquam. Aliquam et
                                    elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet,
                                    consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo
                                    dignissim congue. Mauris elementum accumsan leo vel tempor.</div>
                                <p>&nbsp;</p>

                            </div>

                            <!-- <hr/>
                                    <div class="post_excerpt post_tag">
                                        <i class="fa fa-tags"></i>
                                        <a href="#" rel="tag">landscape</a>,&nbsp;<a href="#" rel="tag">portrait</a>,&nbsp;<a href="#" rel="tag">street photography</a>
                                        <br /> </div>

                                    <div id="post_share_text" class="post_share_text"><i class="fa fa-share-alt"></i>Share</div>
                                    <hr/> -->

                            <!-- <br class="clear" />
                                    <br/>

                                    <div id="about_the_author">
                                        <div class="gravatar"><img alt='' src='{% static 'website/upload/avatar.jpeg' %}' class='avatar avatar-200 photo' height='200' width='200' /></div>
                                        <div class="author_detail">
                                            <div class="author_content">
                                                <div class="author_label">Author</div>
                                                <h4>John Philippe</h4> Sit amet cursus nisl aliquam. Aliquam et elit eu nunc rhoncus viverra quis at felis. Sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus Lorem ipsum dosectetur adipisicing elit at leo dignissim congue. </div>
                                        </div>
                                        <br class="clear" />
                                    </div> -->

                            <h6 class="subtitle"><span>You might also like</span></h6>
                            <hr class="title_break" />
                            <div class="post_related">
                                <div class="one_third ">
                                    <!-- Begin each blog post -->
                                    <div id="post-4423"
                                        class="post-4423 post type-post status-publish format-standard has-post-thumbnail hentry category-photography category-travel tag-blog tag-city tag-street tag-street-photography-2">

                                        <div class="post_wrapper grid_layout">

                                            <div class="post_img small static">
                                                <a href="#">
                                                    <img src="{% static 'website/upload/photo-1444072934215-c426fc67ab9c-960x636.jpg' %}"
                                                        alt="" class="" style="width:960px;height:636px;" />
                                                </a>
                                            </div>

                                            <div class="blog_grid_content">
                                                <div class="post_header grid related">
                                                    <strong><a href="#" title="Awesome Support">Awesome
                                                            Support</a></strong>
                                                    <div class="post_info_cat">
                                                        September 1, 2015 </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- End each blog post -->
                                </div>
                                <div class="one_third ">
                                    <!-- Begin each blog post -->
                                    <div id="post-4417"
                                        class="post-4417 post type-post status-publish format-standard has-post-thumbnail hentry category-featured category-photography tag-fashion tag-model tag-portrait-2 tag-street-photography-2">

                                        <div class="post_wrapper grid_layout">

                                            <div class="post_img small static">
                                                <a href="#">
                                                    <img src="{% static 'website/upload/photo-1445968660880-120e2f7b8c33-960x636.jpg' %}"
                                                        alt="" class="" style="width:960px;height:636px;" />
                                                </a>
                                            </div>

                                            <div class="blog_grid_content">
                                                <div class="post_header grid related">
                                                    <strong><a href="#" title="Latest WordPress Support">Latest
                                                            WordPress Support</a></strong>
                                                    <div class="post_info_cat">
                                                        September 1, 2015 </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- End each blog post -->
                                </div>
                                <div class="one_third last">
                                    <!-- Begin each blog post -->
                                    <div id="post-1135"
                                        class="post-1135 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-blog tag-city tag-landscape-2 tag-portrait-2 tag-street-photography-2">

                                        <div class="post_wrapper grid_layout">

                                            <div class="post_img small static">
                                                <a href="#">
                                                    <img src="{% static 'website/upload/photo-1445052858312-134745f190f2-960x636.jpg' %}"
                                                        alt="" class="" style="width:960px;height:636px;" />
                                                </a>
                                            </div>

                                            <div class="blog_grid_content">
                                                <div class="post_header grid related">
                                                    <strong><a href="#" title="Standard Blog Post">Standard Blog
                                                            Post</a></strong>
                                                    <div class="post_info_cat">
                                                        June 26, 2013 </div>
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <!-- End each blog post -->
                                </div>
                            </div>
                            <br class="clear" />

                        </div>

                    </div>
                    <hr />

                </div>
                <!-- End each blog post -->

                <!-- <div class="fullwidth_comment_wrapper">
                            <h6 class="subtitle"><span>Leave a reply</span></h6>
                            <hr class="title_break" />

                            <div id="comment_respond">
                                <div id="respond" class="comment-respond">
                                    <h3 id="reply-title" class="comment-reply-title">Leave a Reply <small><a rel="nofollow" id="cancel-comment-reply-link" href="/grandportfolio/landing/easy-to-use-gallery-system/#respond" style="display:none;">Cancel reply</a></small></h3>
                                    <form action="http://themes.themegoods.com/grandportfolio/landing/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                        <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                        <p class="comment-form-comment">
                                            <label for="comment">Comment</label>
                                            <textarea id="comment" name="comment" cols="45" rows="8" maxlength="65525" aria-required="true" required="required"></textarea>
                                        </p>
                                        <p class="comment-form-author">
                                            <label for="author">Name <span class="required">*</span></label>
                                            <input placeholder="Name*" id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required='true' required='required' />
                                        </p>
                                        <p class="comment-form-email">
                                            <label for="email">Email <span class="required">*</span></label>
                                            <input type="email" placeholder="Email*" id="email" name="email" value="" size="30" maxlength="100" aria-describedby="email-notes" aria-required='true' required='required' />
                                        </p>
                                        <p class="comment-form-url">
                                            <label for="url">Website</label>
                                            <input placeholder="Website" id="url" name="url" type="url" value="" size="30" maxlength="200" />
                                        </p>
                                        <p class="form-submit">
                                            <input name="submit" type="submit" id="submit" class="submit" value="Post Comment" />
                                            <input type='hidden' name='comment_post_ID' value='490' id='comment_post_ID' />
                                            <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                        </p>
                                    </form>
                                </div>
                                
                            </div>

                        </div> -->

            </div>

        </div>
        <!-- End main content -->

    </div>

    <!-- <br class="clear" />
            <br/>
            <br/> -->
</div>



<!-- <div class="footer_bar  single_gallery">

            <div id="footer" class="">
                <ul class="sidebar_widget three">
                    <li id="text-5" class="widget widget_text">
                        <div class="textwidget">
                            <p><img src="upload/themegoods.png" width="215" height="42" alt="ThemeGoods Logo" />
                                <br />
                                <br /> Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla purus at leo dignissim congue.</p>
                        </div>
                    </li>
                    <li id="recent-posts-2" class="widget widget_recent_entries">
                        <h2 class="widgettitle"><span>Recent Posts</span></h2>
                        <ul>
                            <li>
                                <a href="#">Awesome Support</a>
                            </li>
                            <li>
                                <a href="#">Latest WordPress Support</a>
                            </li>
                            <li>
                                <a href="#">Top Quality Design</a>
                            </li>
                            <li>
                                <a href="#">Standard Blog Post</a>
                            </li>
                            <li>
                                <a href="#">Support Video Post</a>
                            </li>
                        </ul>
                    </li>
                    <li id="text-6" class="widget widget_text">
                        <h2 class="widgettitle"><span>Contact Us</span></h2>
                        <div class="textwidget">
                            <p>732/21 Second Street, Manchester,
                                <br /> King Street,Kingston United Kingdom</p>
                            <p>(65)323-678-567
                                <br /> (65)323-678-568
                                <br />
                                <a href="mailto:info@grandportfolio.com">info@grandportfolio.com</a></p>
                        </div>
                    </li>
                </ul>
            </div>
            <br class="clear" /> -->


{% endblock %}